 @media (max-width: $screen-xs-max) {
     // Mobile

     header .img-a {
         margin-left:0px;
     }
   .navbar-toggle {
       margin-top: 20px;
   }
//footer

.cols-flex {
    width: 49%;
}
.get-padd {
    padding: 48px 0 0 34px;
}
.padd-t30{
    padding-top: 30px;
}

//home start

.circle .fs21 {
    font-size: 12px !important;
}

.circle .w20 {
    width: 23.5%;
}
.circle .text-color p {
    font-size: 10px;
}

 }