<div class="about">
    <section class="human mar-t90">
        <div>
            <div class="relative">
                <img src="img/about/about-banner.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </section>
    <section class="about-band">
        <div class="bg-brown about-grad-color">
            <div class="container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-12 paddb15 ml">
                                <div class="about-band-title wow bounceInLeft" data-wow-duration="3s">
                                    <h4>WHO WE ARE</h4>
                                    <!--<h4>AWESOME</h4>
                            <h4>HUMANNISED </h4>
                            <h4 class="fbold">DESIGNS </h4>-->
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <div class="mt15  wow fadeIn" data-wow-duration="3s" data-wow-delay="1.5s">
                                    <div class="trans-rotate mar-t35 ">
                                        <img src="img/about/arrow-white.png" alt="" class="arrow-icon doneLoading">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="wow bounceInRight" data-wow-duration="3s">
                                    <!--<p>We are a Strategic Brand Design firm. We create brand designs that resonate with Humans,
                                        not just consumers or shoppers. Our unique - Brand Design For Humans work philosophy
                                        go deep beyond logic, emotions and appeal to the intuitive mind. This is where brands
                                        really connects. As a result, humanized brands will not only win market shares but
                                        also share of hearts.</p>-->
                                    <p class="pink-p">
                                        Procreate Leadership team are – Creative leaders, Brand Strategist, Brand Creator’s, Production & Prototype Experts. Creative’s
                                        and strategist have a common goal towards Design for <span> growth + Humanized design</span>.
                                        Our talent is both art & science, a healthy balance. We stay focused, being authentic,
                                        understand truth deeply, vigilant & inquisitive. Keep it simple & focused, being
                                        courageous & taking action.
                                    </p>
                                </div>
                            </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team-details">
        <div class="container">
            <div class="container-fluid">
                <h3 class="text-center text-uppercase fbold">meet our core team</h3>
                <div class="team">
                    <div class="main-person">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 padding0 hidden-lg hidden-md hidden-sm">
                                <div class="employee-image ">
                                    <figure class="figures fig1">
                                        <img src="img/about/director.png" class="img-responsive" alt="creative director">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 padding0">
                                <div class="employee-detail">
                                    <h2>AKHILESH PRASAD</h2>
                                    <h6>Founder | Creative Director</h6>
                                    <p>Driven by challenges Akhilesh seeks pursuance of excellence and innovation. He collaborates
                                        in reinventing design strategies for empowering brands.</p>
                                    <p>Working closely with clients and the creative, he oversees and ensures overall creative
                                        excellence. A multi-disciplined chief creative with nearly 15 years competence &
                                        has provided creative direction, strategy, branding, naming, product design, retail
                                        & packaging for both national & international clients.</p>

                                    <p>
                                        Prior to founding Procreate, he has helped clients to build & strengthen their brands profitably & successfully – Parle,
                                        CavinKare, Zydus Cadila, Unilever, Pillsbury, McCain, Bridgestone, Hershey’s, ITC,
                                        UB Group, Henkel, Reliance, Wipro, Shalimar, Reckitt & Benckiser.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 padding0 hidden-xs hidden-sm">
                                <div class="employee-image ">
                                    <figure class="figures fig1">
                                        <img src="img/about/director.png" class="img-responsive" alt="creative director">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-person main-person">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 padding0">
                                <div class="employee-image">
                                    <figure class="figures fig2">
                                        <img src="img/about/cheif.png" class="img-responsive" alt="creative director">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 padding0 ">
                                <div class="employee-detail advisor ">
                                    <h2>SOURABH MISHRA</h2>
                                    <h6>CHIEF ADVISOR - BRAND STRATEGY</h6>
                                    <p>Sourabh Mishra is an independent brand strategy consultant and works on select client
                                        projects with Procreate. He also advises and mentors Procreate on integrating strategic
                                        thinking in their work process.</p>
                                    <p>He has over two decades’ experience leading the brand strategy planning function at advertising
                                        agencies like Saatchi & Saatchi, TBWA, Everest, Ogilvy, McCann and Contract. He has
                                        also worked as a brand strategist at BPL Telecom and Reliance Capital. His last assignment
                                        was as Group Chief Strategy Officer and whole-time Director at Bates CHI & Partners
                                        India.
                                    </p>
                                    <p>He has worked across categories on brands like Titan, Kwality Wall’s, Parle, Cadbury,
                                        Limca, Sprite, TVS, Skoda, Lenovo, Tang, ITC etc. He has worked very closely on positioning
                                        and launching new brands like OLX.in, ITC Aashirvaad, Ayurvedic Concepts (Himalaya),
                                        Skoda Rapid and Fruit Shoot in India.</p>
                                    <p>His views on marketing communications and branding have been published in leading industry
                                        publications. He also teaches marketing communications at business schools. His recent
                                        work on Tang at Bates won a Silver at the Asia Pacific Advertising Effectiveness
                                        Awards (Effies) 2016.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-person main-person">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 padding0">
                                <div class="employee-image">
                                    <figure class="figures fig2">
                                        <img src="img/about/bhushan.jpg" class="img-responsive" alt="creative director">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 padding0 ">
                                <div class="employee-image">
                                    <figure class="figures fig2">
                                        <img src="img/about/imrann.jpg" class="img-responsive" alt="creative director">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 padding0 imran">
                                <div class="employee-detail imran-detail advisor ">
                                    <h2>BHUSHAN WALINJKAR</h2>
                                    <h6>Associate Creative Director</h6>

                                    <p>Mr. Bhushan Walinjkar holds a diploma Applied Arts from IMFAA-Mumbai after graduating
                                        from Mumbai University. He has more than to two decades of experience & loves creating,
                                        be it design or music, and experiencing the same fully. He is directly involved in
                                        the delivery of all projects from concept to final production, providing strategy
                                        and design expertise as well as thought leadership on customer experience issues.
                                        He was associated with agencies like DY Works for a long stint. Earlier he contributed
                                        successfully to leading players like Unilever, Hershey’s, Heinz, Parle, Heinz, ITC,
                                        Shalimar, Reckitt & Benckiser & Tata Power amongst other.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 padding0 imran ">
                                <div class="employee-detail imran-detail advisor ">
                                    <h2>IMRAN IQBAL</h2>
                                    <h6>Creative Group Head</h6>

                                    <p>Imran is very professional toward his commitments, always driven by challenges and seeks
                                        pursuance of excellence and innovation. He thinks Creativity has no boundaries &
                                        we often extend them by exploring through different ideas of designing. Working closely
                                        with clients and the creative team, he oversees and ensures overall creative excellence.
                                        A multi-disciplined creative executive with almost 15years competence & has provided
                                        creative direction, strategy, branding, naming, product design, retail & packaging
                                        for international clients like Ooredoo Telecom (Qatar), Qatar Football Association,
                                        Qatar Olympics, Aspire Zone. He has worked in India on clients like - Jet Airways,
                                        Loreal Professional, Loreal, Unilever, Lakme Salon, Johnson & Johnson, Vodafone,
                                        Eureka Forbes, Cadburys, Knight Frank.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--<div class="team-full">
                    <div class="first-row">
                        <div class="row">
                            <ul class="list-inline center-align">
                                <li>
                                    <figure class="imgs img1 wow bounceIn" data-wow-duration="1s">
                                        <div class="overlaying">
                                            <div class="employee-names">
                                                <h4 class="text-uppercase">bhushan walinjkar</h4>
                                                <div class="employee-designation">
                                                    <h6 class="text-capitalize margin0">associate creative director</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>

                                </li>
                                <li>
                                    <figure class="imgs img2 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.2s">
                                        <div class="overlaying">
                                            <div class="employee-names">
                                                <h4 class="text-uppercase">imran iqbal</h4>
                                                <div class="employee-designation">
                                                    <h6 class="text-capitalize margin0">creative group head</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>

                                </li>
                                <li>
                                    <figure class="imgs img3 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.4s">
                                        <div class="overlaying">
                                            <div class="employee-names">
                                                <h4 class="text-uppercase">nitin khanvilkar</h4>
                                                <div class="employee-designation">
                                                    <h6 class="text-capitalize margin0">senior designer</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>

                                </li>
                                <li>
                                    <figure class="imgs img4 wow bounceIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                        <div class="overlaying">
                                            <div class="employee-names">
                                                <h4 class="text-uppercase">sunil gunjal</h4>
                                                <div class="employee-designation">
                                                    <h6 class="text-capitalize margin0">studio in charge</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>

                                </li>

                                <li>
                                    <figure class="imgs img5 wow bounceIn" data-wow-duration="1s" data-wow-delay="0.8s">
                                        <div class="overlaying">
                                            <div class="employee-names">
                                                <h4 class="text-uppercase">rajesh sharma</h4>
                                                <div class="employee-designation">
                                                    <h6 class="text-capitalize margin0">business development manager</h6>
                                                </div>
                                            </div>
                                        </div>

                                    </figure>

                                </li>
                                <li>
                                    <figure class="imgs img6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                                        <div class="overlaying">
                                            <div class="employee-names">
                                                <h4 class="text-uppercase">parthivi joshi</h4>
                                                <div class="employee-designation">
                                                    <h6 class="text-capitalize margin0">strategy & brand services manager</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>

                                </li>
                                <li>
                                    <figure class="imgs img7 wow bounceIn" data-wow-duration="1s" data-wow-delay="1.2s">
                                        <div class="overlaying">
                                            <div class="employee-names">
                                                <h4 class="text-uppercase">abhishek chavan</h4>
                                                <div class="employee-designation">
                                                    <h6 class="text-capitalize margin0">brand services manager</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>

                                </li>
                                <li>
                                    <figure class="imgs img8 wow bounceIn" data-wow-duration="1s" data-wow-delay="1.4s">
                                        <div class="overlaying">
                                            <div class="employee-names">
                                                <h4 class="text-uppercase">sandhya dugar</h4>
                                                <div class="employee-designation">
                                                    <h6 class="text-capitalize margin0">brand services manager</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <figure class="imgs img1 wow bounceIn" data-wow-duration="1s">
                                        <div class="overlaying">
                                            <div class="employee-names">
                                                <h4 class="text-uppercase">nitin khanvilkar</h4>
                                                <div class="employee-designation">
                                                    <h6 class="text-capitalize margin0">senior visualiser</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                    <div class="text-center nitin-mar " >
                   

                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <figure class="imgs img2 marin-l35 wow bounceIn" data-wow-duration="1s">
                        <div class="overlaying">
                            <div class="employee-names">
                                <h4 class="text-uppercase">siddarth amane</h4>
                                <div class="employee-designation">
                                    <h6 class="text-capitalize margin0">visualiser</h6>
                                </div>
                            </div>
                        </div>
                        
                    </figure>
                    <div class="text-center siddarth-mar">
                            
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <figure class="imgs img3 marin-l78 wow bounceIn" data-wow-duration="1s">
                        <div class="overlaying">
                            <div class="employee-names">
                                <h4 class="text-uppercase">shraddha shinde</h4>
                                <div class="employee-designation">
                                    <h6 class="text-capitalize margin0">visualiser</h6>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="text-center shardha-mar">
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <figure class="imgs img4 wow bounceIn" data-wow-duration="1s">
                        <div class="overlaying">
                            <div class="employee-names">
                                <h4 class="text-uppercase">sandhya dugar </h4>
                                <div class="employee-designation">
                                    <h6 class="text-capitalize margin0">brand service manager</h6>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="text-center nitin-mar" >
                   </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <figure class="imgs img5 marin-l35 wow bounceIn " data-wow-duration="1s">
                        <div class="overlaying">
                            <div class="employee-names">
                                <h4 class="text-uppercase">abhishek chavan</h4>
                                <div class="employee-designation">
                                    <h6 class="text-capitalize margin0">brand service manager</h6>
                                </div>
                            </div>
                        </div>
                  </figure>
                    <div class="text-center">
                   </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <figure class="imgs img6 marin-l78 wow bounceIn" data-wow-duration="1s">
                        <div class="overlaying">
                            <div class="employee-names">
                                <h4 class="text-uppercase">sunil gunjal</h4>
                                <div class="employee-designation">
                                    <h6 class="text-capitalize margin0">studio in charge</h6>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="text-center shardha-mar " >
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bgrey trust">
        <div class="container">
            <h3 class="text-center text-uppercase fbold">trusted by</h3>
            <p class="text-center">We have worked with many large sized MNCs and National companies, prominent regional businesses as well as interesting
                startups. We have worked in food & beverages, personal care, sports and service industry. But our design
                philosophy is industry neutral and our process takes care of decoding category codes irrespective of the
                category or business vertical.</p>
            <div class="trusted-clients">
                <div class="row1">
                    <div class="row-flex">
                        <div class="col-flex border-right">
                            <div class="clients client1">
                                <img src="img/about/1.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client2">
                                <img src="img/about/2.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client3">
                                <div>
                                    <img src="img/about/3.png" class="img-responsive" alt="clients">
                                </div>
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client4">
                                <img src="img/about/4.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client4">
                                <img src="img/about/sign.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client4">
                                <img src="img/about/6.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row1">
                    <div class="row-flex">
                        <div class="col-flex border-right">
                            <div class="clients client1">
                                <img src="img/about/dabur.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client2">
                                <img src="img/about/goma.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client3">
                                <div>
                                    <img src="img/about/9.png" class="img-responsive" alt="clients">
                                </div>
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client4">
                                <img src="img/about/10.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client4">
                                <img src="img/about/19.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client4">
                                <img src="img/about/5.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row1">
                    <div class="row-flex">
                        <div class="col-flex border-right">
                            <div class="clients client4">
                                <img src="img/about/13.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client4">
                                <img src="img/about/mapro.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client1">
                                <img src="img/about/nabil.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client2">
                                <img src="img/about/sarda.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client3">
                                <img src="img/about/seths.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                        <div class="col-flex border-right">
                            <div class="clients client4">
                                <img src="img/about/18.png" class="img-responsive" alt="clients">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>