<div class="about">
<section class="human ">
    <div>
        <div class="relative">
            <img src="img/about/about-banner.jpg" class="img-responsive" alt="">
        </div>
    </div>
</section>
<section class="team-details">
    <div class="container">
        <h3 class="text-center text-uppercase fbold">meet our core team</h2>
        <div class="team">
            <div class="main-person">
<div class="row">
    <div class="col-md-6 padding0">
<div class="employee-detail">
<h2>AKHILESH PRASAD</h2>
<h6>Founder | Creative Director</h6>





<p>Akhilesh is passionate about brand design, always driven by challenges and seeks pursuance of excellence and innovation. He collaborates in reinventing design strategies for empowering brands.</p>
<p>Working closely with clients and the creative team, he oversees and ensures overall creative excellence. A multi-disciplined creative executive with almost 15years competence & has provided creative direction, strategy, branding, naming, product design, retail & packaging for both national & international clients.</p>
<p>Prior to founding Procreate, he has headed design team at leading design firms and helped clients to build & strengthen their brands profitably & successfully, some of these includes - Parle, CavinKare, Zydus Cadila, Hindustan Unilever, Pillsbury (General Mills), McCain, Bridgestone, Hershey’s, CavinKare, Parle, ITC, UB Group, Henkel, Reliance, Wipro, Shalimar, Reckitt & Benckiser, Zydus Cadila.</p>
</div>
    </div>
    <div class="col-md-6 padding0">
<div class="employee-image">
    
<figure class="figures fig1">
   <!--<img src="img/about/director.png" class="img-responsive" alt="creative director">-->
</figure>
</div>
    </div>
</div>
            </div>
<div class="second-person main-person">
<div class="row">
   <div class="col-md-6 padding0">
<div class="employee-image">
    
<figure class="figures fig2">
    <!--<img src="img/about/cheif.png" class="img-responsive" alt="creative director">-->
</figure>
</div>
    </div>
      <div class="col-md-6 padding0">
<div class="employee-detail advisor">
<h2>SOURABH MISHRA</h2>
<h6>CHEIF ADVISOR - STRATERY</h6>
<p>Sourabh Mishra is an independent brand strategy consultant and works on select client projects with Procreate. He also advises and mentors Procreate on integrating strategic thinking in their work process.</p>
<p>He has over two decades’ experience leading the brand strategy planning function at advertising agencies like Saatchi & Saatchi, TBWA, Everest, Ogilvy, McCann and Contract. He has also worked as a brand strategist at BPL Telecom and Reliance Capital. His last assignment was as Group Chief Strategy Officer and whole-time Director at Bates CHI & Partners India.
</p>
<p>He has worked across categories on brands like Titan, Kwality Wall’s, Parle, Cadbury, Limca, Sprite, TVS, Skoda, Lenovo, Tang, ITC etc. He has worked very closely on positioning and launching new brands like OLX.in, ITC Aashirvaad, Ayurvedic Concepts (Himalaya), Skoda Rapid and Fruit Shoot in India.</p>
<p>His views on marketing communications and branding have been published in leading industry publications. He also teaches marketing communications at business schools. His recent work on Tang at Bates won a Silver at the Asia Pacific Advertising Effectiveness Awards (Effies) 2016.</p>
</div>
    </div>
</div>
</div>
        </div>
        <div class="team-full">
            <div class="first-row">
    <div class="row">
                <div class="col-md-3">
<div class="teams-info text-center">
    <figure class="imgs img1">
         <div class="employee-names">
        <h4 class="text-uppercase">bhushan walinjkar</h4>
        </div>
         <div class="overlaying"></div>
    </figure>
    
     
    <div class="employee-name">
        <h4 class="text-uppercase">bhushan walinjkar</h4>
        </div>
    <div class="employee-designation">
        <h6 class="text-capitalize margin0">associative creative director.</h6>
    </div>
</div>
                </div>
                <div class="col-md-3">
<div class="teams-info text-center">
    <figure class="imgs img2">
        
    </figure>
    <div class="overlaying"></div>
      <div class="employee-names">
        <h4 class="text-uppercase">bhushan walinjkar</h4>
        </div>
    <div class="employee-name">
        <h4 class="text-uppercase">bhushan walinjkar</h4>
        </div>
    <div class="employee-designation">
        <h6 class="text-capitalize margin0">associative creative director.</h6>
    </div>
</div>
                </div>
                <div class="col-md-3">
<div class="teams-info text-center">
   <figure class="imgs img3">
        
    </figure>
     <div class="overlaying"></div>
      <div class="employee-names">
        <h4 class="text-uppercase">bhushan walinjkar</h4>
        </div>
   <div class="employee-name">
        <h4 class="text-uppercase">bhushan walinjkar</h4>
        </div>
    <div class="employee-designation">
        <h6 class="text-capitalize margin0">associative creative director.</h6>
    </div>
</div>
                </div>
                <div class="col-md-3">
<div class="teams-info text-center">
    <figure class="imgs img4">
          <div class="employee-names">
        <h4 class="text-uppercase">bhushan walinjkar</h4>
        </div>
    </figure>
     <div class="overlaying"></div>
    
    <div class="employee-name">
        <h4 class="text-uppercase">bhushan walinjkar</h4>
        </div>
    <div class="employee-designation">
        <h6 class="text-capitalize">associative creative director.</h6>
    </div>
</div>
                </div>
            </div>
            </div>
        <!--<div class="second-row">
     <div class="row">
                <div class="col-md-3">
<div class="teams-info text-center">
   <figure class="imgs img5">
        
    </figure>
    <div class="employee-name">Lorem ipsum dolor.</div>
    <div class="employee-designation">Lorem ipsum dolor.</div>
</div>
                </div>
                <div class="col-md-3">
<div class="teams-info text-center">
     <figure class="imgs img6">
        
    </figure>
   <div class="employee-name">Lorem ipsum dolor.</div>
    <div class="employee-designation">Lorem ipsum dolor.</div>
</div>
                </div>
                <div class="col-md-3">
<div class="teams-info text-center">
    <figure class="imgs img7">
        
    </figure>
   <div class="employee-name">Lorem ipsum dolor.</div>
    <div class="employee-designation">Lorem ipsum dolor.</div>
</div>
                </div>
                <div class="col-md-3">
<div class="teams-info text-center">
   <figure class="imgs img8">
        
    </figure>
  <div class="employee-name">Lorem ipsum dolor.</div>
    <div class="employee-designation">Lorem ipsum dolor.</div>
</div>
                </div>
            </div>
        </div>-->
         
        </div>
    </div>
</section>
<section class="bgrey trust">
<div class="container">
    <h3 class="text-center text-uppercase fbold">trusted by</h3>
    <p class="text-center">We have worked with many large sized MNCs and National companies, prominent regional businesses as well as interesting startups.
We have worked in food & beverages, personal care, sports and service industry. But our design philosophy is industry neutral and
our process takes care of decoding category codes irrespective of the category or business vertical.</p>
    <div class="trusted-clients">
        <div class="row1">
<div class="row-flex">
    <div class="col-flex border-right">
<div class="clients client1">
    <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
    <div class="col-flex border-right">
<div class="clients client2">
       <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
    <div class="col-flex border-right">
<div class="clients client3">
       <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
    <div class="col-flex border-right">
<div class="clients client4">
       <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
</div>
</div>
<div class="row1">
<div class="row-flex">
    <div class="col-flex border-right">
<div class="clients client1">
    <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
    <div class="col-flex border-right">
<div class="clients client2">
       <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
    <div class="col-flex border-right">
<div class="clients client3">
       <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
    <div class="col-flex border-right">
<div class="clients client4">
       <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
</div>
</div>
<div class="row1">
<div class="row-flex">
    <div class="col-flex border-right">
<div class="clients client1">
    <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
    <div class="col-flex border-right">
<div class="clients client2">
       <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
    <div class="col-flex border-right">
<div class="clients client3">
       <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
    <div class="col-flex border-right">
<div class="clients client4">
       <img src="img/32.png" class="img-responsive" alt="clients">
</div>
    </div>
</div>
</div>
            </div>
        </div>
        </div>
</section>
</div>
