<section class="human">
    <div>
        <div class="relative">
            <img src="img/approach/1.jpg" alt="">
            <div class="absolute top50">
                <h1>What is</h1>
                <h1>Brand design for human ?</h1>
                <h3>imagine a world where Brands really matters.</h3>
            </div>
        </div>
    </div>
</section>
<section class="brand-matter">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="barnd-para">
                        <h4>
                            Brands today are designed keeping the sophisticated consumer/shopper in focus...
                        </h4>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="brand-text">
                        <h1>
                            And yet,<br> brands don't really matter.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="relative">
            <img src="img/approach/2.jpg" alt="">
           
                <div class="absolute top50">
                    <div>
                        <h4>
                            Perhaps,</h4>
                        <h4>We have forgotten that </h4>
                        <h4>we are humans first
                        </h4>
                    </div>
                    <div>
                    </div>
                </div>
               
        </div>
</section>
<section class="brain">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="top25">
                    <h4>
                        Humanized brands are simple yet meaningful & appeal to
                    </h4>
                    <h1>
                        3 Human Brains
                    </h1>
                </div>
            </div>
            <div class="col-md-8">
                <div class="margin-tb">
                    <img src="img/approach/3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="design-text relative ">
            <img src="img/approach/4.jpg" alt="">
            <div class="absolute top0 text-center">
                <h1>WE ARE HERE TO</h1>
                <h1>HUMANIZE BRANDS THROUGH DESIGN</h1>
            </div>
        </div>
    </div>
</section>
<section class="design">
    <div class="text-center white-sec">
        <h1>HOW DO WE DO IT ?</h1>
        <img src="img/approach/8.png" alt="">
    </div>
    <div >
        <!--<div class="display-flex">
            <img src="img/approach/5.png" alt="">
        </div>
        <div class="display-flex">
            <img src="img/approach/6.png" alt="">
        </div>
        <div class="display-flex">
            <img src="img/approach/7.png" alt="">
        </div>-->

    </div >
    <div class="grad text-size">
        <div class="mar-l">
  <h1>IMMERSE</h1>
  <h2>Define Problem</h2>
  <h2>Discover</h2>
  <h2>Immerse</h2>
  <p>Busigness,Caterogy,Company,Brand,Soi-Cultural &
      Human Truths
  </p>
        </div>
    </div>
    <div class="grad2 text-size">
        <div class="mar-l">
         <h1>EXPRESS</h1>
           <h2>Brand Analysis</h2>
             <h2>Brand Expression</h2>
             <h2>Discover</h2>
             <h2>Point of View</h2>
             <p>Brand World, Tone of Voice, Visual Territory,
                 Identity/ Logo/ Typeface, Brand Colors
             </p>
        </div>
    </div>
    <div class="grad3 text-size">
        <div class="mar-l">
         <h1>DESIGN</h1>
           <h2>Conception</h2>
             <h2>Visual Brand Architecture</h2>
             <h2>Discover</h2>
             <h2>3 Human Filters</h2>
             <p>
                 Intuitive,Emotional & Logical Filters
             </p>
             <h3>Design Standards</h3>
    </div>
    </div>
</section>