<div class="approach ">
    <section class="human">
        <div class="relative">
            <img src="img/approach/1.jpg" alt="">
            <div class="absolute top50">
                <h2>What is
                    <h2>
                        <h2> <span> Brand design for human ?</span></h2>
                        <h3>Imagine a world where<span> Brands really matters.<span></h3>
            </div>
        </div>

</section>
<section class="brand-matter">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="barnd-para">
                        <h4>
                            Brands today are designed keeping the sophisticated consumer/shopper in focus...
                        </h4>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="brand-text">
                        <h1>
                            And yet,<br><span> brands don't really matter.</span>
                            </h1>
            </div>
        </div>
</div>
</div>
</div>
<!--<div class="relative">
            <img src="img/approach/2.jpg" alt="">
           
                <div class="absolute top50">
                    <div>
                        <h4>
                            Perhaps,</h4>
                        <h4>We have forgotten that </h4>
                        <h4>we are humans first
                        </h4>
                    </div>
                    <div>
                    </div>
                </div>
               
        </div>-->
<!--<div class="grad">
            <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                hi
            </div>
             <div class="col-md-8 padding0">
                 <div class="">
                 <div class="w50 relative pull-right">
                   <img src="img/approach/9.jpg" alt="" class="pull-right">
                     <div class="overlay">

                 </div>
                 </div>
               
                 </div>
            </div>
        </div>
            </div>
        </div>-->
<div class="bg-img">
    <div class="grad">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3> Perhaps,<br> We have forgotten that<br> We are humans first
                    </h3>
                </div>
                <div class="col-md-8">
                    <h2>We seek<br>
                        <span> experiences</span></h2>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section class="brain">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="top25">
                        <h5>
                            Humanized brands are simple yet meaningful & appeal to
                        </h5>
                        <h3>
                            3 Human Brains:
                        </h3>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="margin-tb">
                        <img src="img/approach/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid padding0">
            <div class="grad">
                <div class="design-text  ">
                    <!--<img src="img/approach/4.jpg" alt="">-->
                    <div class="text-center padd-t6 ">
                        <h2>WE ARE HERE TO<br>
                            <span>  HUMANIZE BRANDS THROUGH DESIGN</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="design">
        <div class="text-center white-sec">
            <h1>HOW DO WE DO IT ?</h1>
            <img src="img/approach/8.png" alt="">
        </div>
        <div>
            <!--<div class="display-flex">
            <img src="img/approach/5.png" alt="">
        </div>
        <div class="display-flex">
            <img src="img/approach/6.png" alt="">
        </div>
        <div class="display-flex">
            <img src="img/approach/7.png" alt="">
        </div>-->
        </div>
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-4 padding0">
                    <div class="grad text-size">
                        <div>
                            <div class="padding ">
                                <h1>IMMERSE</h1>
                                <h2>Define Problem</h2>
                                <h2>Discover</h2>
                                <h2>Immerse</h2>
                                <p class="padd-l10">Busigness,Caterogy,Company,<br> Brand,Soi-Cultural &<br> Human Truths
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 padding0">
                    <div class="grad2 text-size">
                        <div class="padding">
                            <h1>EXPRESS</h1>
                            <h2>Brand Analysis</h2>
                            <h2>Brand Expression</h2>
                            <h2>Point of View</h2>
                            <p class="padd-l20">Brand World, Tone of Voice,<br> Visual Territory, Identity/
                                <br> Logo/ Typeface, Brand Colors
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 padding0">
                    <div class="grad3 text-size">
                        <div class="padding">
                            <h1>DESIGN</h1>
                            <h2>Conception</h2>
                            <h2>Visual Brand Architecture</h2>
                            <h2>3 Human Filters</h2>
                            <p class="padd-l30">
                                Intuitive,Emotional &<br> Logical Filters
                            </p>
                            <h2>Design Standards</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>