<section class="golden-arch mar-t90">
    <div class="container">
        <div class="main-banner">
            <div class="img-banner-padd">
                <img src="img/portfolio/arch/11.png" alt="" class="img-responsive">
            </div>
            <div class="img-banner2">
                <img src="img/portfolio/arch/2.png" alt="" class="img-responsive">
            </div>
            <div class="content-banner pdd45 text-center">
                <h3 class="portfolio-title ">COMPELLING EXPERIENTIAL BRAND STORY</h3>
                <h3 class="portfolio-subtitle ">Brand - Golden Arcs | Parle | Re-branding | Visual Brand Architecture
                </h3>
            </div>
            <div class="banner-inside">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-img">
                            <img src="img/portfolio/arch/3.png" alt="" class="img-responsive">
                            <p class="new-redesign"><span>New identity that conveys an ‘uplifting heavenly blissful experience’.</span></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-content inno-content-padd">
                            <div class="arch-title-border-bottom">
                                <h3 class="portfolio-title">BACKGROUND</h3>
                            </div>
                            <p class="color-gray">
                                Parle had launched Golden Arcs a new brand of soft & chewy filled rolls in 2006. The rolls had real fruit fillings and was
                                launched as a multi occasion indulgent snack. However the brand garnered a lukewarm response
                                from consumers.
                            </p>
                            <div class="arch-title-border-bottom">
                                <h3 class="portfolio-title">CHALLENGE</h3>
                            </div>
                            <p class="color-gray">
                                The earlier Golden Arcs package design lacked a distinct positioning or a powerful visual story to entice the consumer. Somewhere
                                the earlier design also fell short on establishing the product as a premium indulgent snack
                                for the young and upwardly mobile
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-content design-cont-padd">
                            <div class="arch-title-border-bottom">
                                <h3 class="portfolio-title">STRATEGY</h3>
                            </div>
                            <p class="color-gray">
                                Indulgent snacks are usually overloaded with flavours and sugared sweetness, hence they are often depicted as dark, sinful,
                                flirtatious and sensual.
                            </p>
                            <p class="color-gray">
                                However, Golden Arcs were different in way that they were light, nicely baked and delicately flavoured with goodness of real
                                fruits and chocolate. So in contrast to the conventional brand positioning platforms of sinful
                                indulgence,
                            </p>
                            <p class="color-gray">
                                Golden Arcs was uniquely positioned on the platform of "heavenly bliss" that had undertones of innocence and purity to it.
                                So the idea of "heavenly bliss" became the basis for the new visual language and brand story.
                                Each design element seamlessly weaves into the core brand promise-that of "a pure uplifting
                                heavenly bliss" experience. The new packaging is unique, clutter breaking and is in sync
                                with the product consumption experience.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-img inno-content-padd padd-t">
                            <img src="img/portfolio/arch/5.png" alt="" class="img-responsive">
                            <p class="new-redesign"><span>New Redesign - Design Range & Retail POS</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="banner-inside-img img-padd">
                            <img src="img/portfolio/arch/6.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="previ-iconarch">
                            <!--<img src="img/portfolio/prev.png" alt="" class="img-responsive">-->
                            <span ui-sref="good">PREVIOUS CASE STUDY</span>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="pull-right">
                            <div class="next-iconarch">
                                <!--<img src="img/portfolio/next.png" alt="" class="img-responsive">-->
                                <span ui-sref="doycare">NEXT CASE STUDY</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>