<section class="doy-care mar-t90 ">
    <div class="container">
        <div class="main-banner">
            <div class="pull-right mar-tr">
                <img src="img/portfolio/doycare/dou-care-icons.png" alt="" class="img-responsive">
            </div>
            <div class="doycare-logo-padd ">
                <img src="img/portfolio/doycare/doy-care-logo.png" alt="" class="img-responsive">
            </div>
            <div class="image-banner">
                <img src="img/portfolio/doycare/main-img.png" alt="" class="img-responsive">
            </div>
            <div class="content-banner text-center">
                <h3 class="portfolio-title ">REDISCOVERING TRUE (PURE & NATURAL)</h3>
                <p class="padd-trbt ">The brand believes in offering experience and benefits of pure natural ingredients that help restore and
                    revive ones natural self. Nature in its purest form always offers a fine sense of balance. Connecting
                    with nature is synonymous to connecting with ones natural self that make you feel more relaxed rejuvenated
                    and confident.
                </p>
            </div>
            <div class="banner-inside">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-img">
                            <img src="img/portfolio/doycare/side-img1.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-content inno-content-padd">
                            <div class="portfolio-title-border-bottom">
                                <h3 class="portfolio-title">INNOVATION</h3>
                            </div>
                            <p class="color-gray">
                                We re-branded DOY CARE with a distinct brand image, establishing Pure and Natural brand positioning. It helped the brand
                                carve its own space in market and consumer mind of being a brand that incorporates only pure
                                and natural ingredients. We developed a robust unifying visual architecture that is ingredient
                                focused and spans multiple products in personal care and thereby creating a strong & coherent
                                shelf impact. DOY CARE new brand & visual identity represents balance of pure and natural
                                symbolism, liberating and rediscovering ones natural self.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-content design-cont-padd">
                            <div class="portfolio-title-border-bottom">
                                <h3 class="portfolio-title">DESIGN SUCCESS</h3>
                            </div>
                            <p class="color-gray">
                                Helped to increase its sales by 40%. The new designs really helped them sharpen the brand identity in line with the brand
                                positioning. It helped the brand carve its own space in market and consumer mind of being
                                a brand that incorporates only pure and natural Ingredients.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-img inno-content-padd">
                            <img src="img/portfolio/doycare/side2.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-img paddl">
                            <img src="img/portfolio/doycare/side-img3.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-content mt70 geness-cont-padd ">
                            <div class="portfolio-title-border-bottom">
                                <h3 class="portfolio-title">GENESIS OF THE IDENTITY <span>NATURE - THE MIRROR</span> </h3>
                            </div>
                            <p class="color-gray">
                                Unveiling one’s natural self (and beauty) symbolized through leaves/blooming petals capturing a liberating movement. When
                                you know your pure natural self, you feel liberated. This unveiling process and thereby the
                                liberation felt is depicted through blooming leaves
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-content visual-cont-padd ">
                            <div class="portfolio-title-border-bottom">
                                <h3 class="portfolio-title">VISUAL BRAND ARCHITECTURE</h3>
                            </div>
                            <p class="color-gray ">
                                The luminescent sphere highlights the purity & benevolence of the concept that consumers seek in pure and natural. Dew Drop
                                evokes pure fresh feelings
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-img geness-cont-padd mt30">
                            <img src="img/portfolio/doycare/side-img4.png" alt="" class="img-responsive">
                            <div class="doy-care-soap">
                                <h6>BEFORE</h6>
                                <p>Earlier DOY CARE Brand Packaging - Honey-& Glycerin & Aloe Vera Soap </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-inside-img mt70 marb200">
                        <img src="img/portfolio/doycare/bottom-img.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="previ-icon">
                        <!--<img src="img/portfolio/prev.png" alt="" class="img-responsive">-->
                        <span ui-sref="arch">PREVIOUS CASE STUDY</span>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="">
                        <div class="next-icon">
                            <!--<img src="img/portfolio/next.png" alt="" class="img-responsive">-->
                            <span ui-sref="sgsports">NEXT CASE STUDY</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>