<section class="first-slider">
        <!--<flex-slider class="carousel" animation="slide" flex-slide="myslide in inspireImg track by $index" prev-text="" next-text=""
            max-items="1" item-width="500" item-margin="0" animationLoop="true" animation="fade">-->

        <flex-slider flex-slide="myslide in inspireImg track by $index" animation="fade" animationloop="true"
            move="1" slideshow-Speed="3000" pauseOnHover="true" prev-text="" next-text="" animation="slide" >
            <li class="li-color">
                <img ng-src="{{myslide.img}}" class="posi-rel">
                
            </li>
        </flex-slider>
</section>
<section>
    <div class="bg-brown">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <div class="col-md-2 col-sm-2 col-xs-12 paddb15 ml">
                            <div class="awesome wow bounceInLeft" data-wow-duration="3s" >
                                <h4>WE PROVIDE </h4>
                                <h4>AWESOME</h4>
                                <h4>HUMANISED </h4>
                                <h4 class="fbold">DESIGNS </h4>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12">
                            <div class="mt15  wow fadeIn" data-wow-duration="3s" data-wow-delay="1.5s">
                                <div class="trans-rotate">
                                <img src="img/homepage/2.png" alt="" class="arrow-icon">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12  wow bounceInRight" data-wow-duration="3s" >
                            <p>We are a full service strategic brand design firm with expertise in:<br> Brand Strategy and Naming,
                                Brand Identity (logo), Brand Architecture,<br> Packaging Design, Retail Design</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="circle">
    <div class="container">
        <div class="image-circles">
            <img src="img/approach/circles.png" class="full-width " alt="circles">
            <div class="text-color pdd45">
                <div class="w20  wow flipInX" data-wow-duration="4s" >
                    <!--<img src="img/homepage/35.png" alt="" class="circle-img mar-left img-responsive">-->
                    <div class="border-bottom">
                        <h4 class="color-darkblue fs21">Mainstream <br> Successes</h4>
                    </div>
                    <p>Most of our work has found mainstream market success whether it's cluttered or competitive market or
                        a unique product. we help you jumpstart your brainchild.
                    </p>
                </div>
                <div class="w20  wow flipInX" data-wow-duration="4s" >
                    <!--<img src="img/homepage/34.png" alt="" class="circle-img mar-left1 img-responsive">-->
                    <div class="border-bottom">
                        <h4 class="color-lightgreen fs21"> Brand Turnaround <br> Specialists</h4>
                    </div>
                    <p >Whether be requirement in brand makeover or new ones, we provide you a quick turnaround and end-to-end
                        branding solutions that full-fill your needs.
                    </p>
                </div>
                <div class="w20 wow flipInX" data-wow-duration="4s" >
                    <!--<img src="img/homepage/36.png" alt="" class="circle-img mar-left2 img-responsive">-->
                    <div class="border-bottom">
                        <h4 class="color-skyblue fs21">Disruption Through Design</h4>
                    </div>
                    <p>In this hyper cluttered market we assist companies achieve market disruption through strategic design.When
                        your competitors zig. we zag! </p>
                </div>
                <div class="w20 wow flipInX" data-wow-duration="4s">
                    <!--<img src="img/homepage/33.png " alt="" class="circle-img mar-left3 img-responsive">-->
                    <div class="border-bottom">
                        <h4 class="color-darkgreen fs21">Humanized Approach Brand Design </h4>
                    </div>
                    <p>Humans are predictably irrational. so we make our designs go through intuitive emotional and logical
                        filters. our designs are simple, meaningfull and highly Humanized. </p>
                </div>
                <!--<div class="w20">
                    <img src="img/homepage/311.png" alt="" class="circle-img mar-left4 img-responsive">
                    <div class="border-bottom">
                        <h4 class="smart-green">Efficient Project Management </h4>
                    </div>
                    <p> We work with right mix of planning, monitoring, and controlling that bring difference in complrting a
                        project on time. on budget, and with best quality results. we aim to make it easy and efficient for
                        our clients.
                    </p>
                </div>-->
                <div>
                    <a ui-sref="approach">Know more  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="bg-yellow">
        <div class="container">
            <div class="capabilities-cont">
                <div class="mt30  " >
                    <h1 >Capabilities</h1>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInLeft " data-wow-duration="3s" >
                                <h4 class="">BRANDING</h4>
                                <ul class="list-unstyled ">
                                    <li>Brand Creation/identity</li>
                                    <li>Corporate identity</li>
                                    <li>Visual Brand Architechture</li>
                                    <li>Brand Guidelines</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInDown " data-wow-duration="3s" >
                                <h4>CORPORATE BRANDING</h4>
                                <ul class="list-unstyled">
                                    <li>Corporate Collateral</li>
                                    <li>Marketing Collateral</li>
                                    <li>Brand Guidelines</li>
                                    <li>Publication Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInRight " data-wow-duration="3s" >
                                <h4>NAMING</h4>
                                <ul class="list-unstyled">
                                    <li>Brand Naming</li>
                                    <li>Sub-Brand Naming</li>
                                    <li>Brand Vocabulary</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInLeft " data-wow-duration="3s" >
                                <h4 class="">PACKAGING</h4>
                                <ul class="list-unstyled ">
                                    <li>Package Design</li>
                                    <li>Package Production</li>
                                    <li>Product Live Extensions</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInUp" data-wow-duration="3s" >
                                <h4>Retail Design / POS</h4>
                                <ul class="list-unstyled">
                                    <li>Retail Design / BrandingInterior </li>
                                    <li>Interior / Exterior Design</li>
                                    <li>POS / Signage Design</li>
                                    <li>Exhibition Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInRight" data-wow-duration="3s" >
                                <h4>Brand Communication</h4>
                                <ul class="list-unstyled">
                                    <li>Marketing Collaterals</li>
                                    <li>Press, Posters</li>
                                    <li>Danglers, Hoardings</li>
                                    <li>Brand Guidelines</li>
                                    <li>Publication Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <a ui-sref="offering">Know more  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="icon-slider">
    
    <div class="relative">
        <div class="container">
            <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class=" mb70 carousels " >
                <flex-slider class="carousel" flex-slide="img in homeImg track by $index" animation="slide" animationLoop="true" slideshow="true" as-nav-for="#slider"
                slideshowSpeed="500" animationSpeed="60" pauseOnHover="true">
                       <!--<flex-slider flex-slide="myslide in inspireImg track by $index" animation="fade" animationloop="true"
            move="1" slideshow-Speed="2000" prev-text="" next-text="" animation="slide">-->
                    <li>
                        <div class="client-imgholder">
                            <div class="row" ng-repeat="row in img track by $index">
                                <div class="col-md-2 col-sm-2 col-xs-2" ng-repeat="clientimg in row track by $index">
                                    <div class="img-holder listing w125">
                                        <img ng-src="{{clientimg.img}}" alt="" class="img-responsive ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
        </div>
        <div class="overlay">
        </div>
    </div>
    </div>
    </div>
</section>
<section>
    <div class="bg-blue">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 ">
                        <div class="mt30 ml-25 ">
                            <h4>WHAT OUR </h4>
                            <h4> CLIENTS SAY</h4>
                            <h4 class="fbold">ABOUT US</h4>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-8">
                        <div class="mar-top-bot">
                            <flex-slider animation="fade"  flex-slide="myslide in homeText track by $index" animationLoop="true" slideshow-Speed="3000"	  prev-text="" next-text=""
                                max-items="1" item-width="200" item-margin="0" pauseOnHover="true">
                                <li class="li-color">
                                    <div class="gradient client-say">
                                        <h3>{{myslide.title1}}</h3>
                                        <div class="border">
                                            <div class="circle "></div>
                                        </div>
                                        <p class="fs-12">{{myslide.title2}}</p>
                                    </div>
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <!--<iframe style="pointer-events:none" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.658974103091!2d72.84633311437807!3d19.166399454106546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b65aa4713fe7%3A0xd9a79b6f8bc7124e!2sSumit+Samarth+Arcade!5e0!3m2!1sen!2sin!4v1493706338849"
                width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
            <div id="map" style="width:100%;height:300px;"></div>
        </div>

    </div>
</section>