<section class="first-slider">
    <!--<flex-slider class="carousel" animation="slide" flex-slide="myslide in inspireImg track by $index" prev-text="" next-text=""
            max-items="1" item-width="500" item-margin="0" animationLoop="true" animation="fade">-->

    <flex-slider flex-slide="myslide in inspireImg track by $index" animation="fade" animationloop="true" move="1" slideshow-Speed="3000"
        pauseOnHover="true" prev-text="" next-text="" animation="slide">
        <li class="li-color">
            <img ng-src="{{myslide.img}}" class="posi-rel">

        </li>
    </flex-slider>
</section>
<!--<section>
    <div class="bg-brown">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <div class="col-md-2 col-sm-2 col-xs-12 paddb15 ml">
                            <div class="awesome wow bounceInLeft" data-wow-duration="3s">
                                <h4>WE PROVIDE </h4>
                                <h4>AWESOME</h4>
                                <h4>HUMANISED </h4>
                                <h4 class="fbold">DESIGNS </h4>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12">
                            <div class="mt15  wow fadeIn" data-wow-duration="3s" data-wow-delay="1.5s">
                                <div class="trans-rotate">
                                    <img src="img/homepage/44.png" alt="" class="arrow-icon">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12  wow bounceInRight" data-wow-duration="3s">
                            <p class="mar-t20">We are a Strategic Design company. As Design Specialist, we offer Integrated Design solutions
                                that cover branding & plays a vital design role.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<section>
    <div class="bg-brown">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 ">
                        <div class="mt30 ml-25 border-tb">
                     <span>TM</span>
                            <h5>BRAND DESIGN </h5>
                            <h4> FOR HUMANS</h4>
                            <!--<h4 class="fbold">ABOUT US</h4>-->
                     
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-8">
                        <div class="mar-top-bot">
                            <flex-slider animation="fade" flex-slide="myslide in homeText2 track by $index" animationLoop="true" slideshow-Speed="3000"
                                prev-text="" next-text="" max-items="1" item-width="200" item-margin="0" pauseOnHover="true">
                                <li class="li-color">
                                    <div class="gradient client-say">
                                      
                                       
                                        <p class="fs-18">{{myslide.title2}}</p>
                                    </div>
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="circle">
    <div class="container">
        <div class="image-circles">
            <img src="img/approach/circles.png" class="full-width " alt="circles">
            <div class="text-color pdd45">
                <div class="w20  wow flipInX" data-wow-duration="4s">
                    <!--<img src="img/homepage/35.png" alt="" class="circle-img mar-left img-responsive">-->
                    <div class="border-bottom">
                        <h4 class="color-darkblue fs21">Mainstream <br> Successes</h4>
                    </div>
                    <p>Most of our work has found mainstream market success whether it's cluttered or competitive market or
                        a unique product. we help you jumpstart your brainchild.
                    </p>
                </div>
                <div class="w20  wow flipInX" data-wow-duration="4s">
                    <!--<img src="img/homepage/34.png" alt="" class="circle-img mar-left1 img-responsive">-->
                    <div class="border-bottom">
                        <h4 class="color-lightgreen fs21"> Brand Turnaround <br> Specialists</h4>
                    </div>
                    <p>Whether be requirement in brand makeover or new ones, we provide you a quick turnaround and end-to-end
                        branding solutions that full-fill your needs.
                    </p>
                </div>
                <div class="w20 wow flipInX" data-wow-duration="4s">
                    <!--<img src="img/homepage/36.png" alt="" class="circle-img mar-left2 img-responsive">-->
                    <div class="border-bottom">
                        <h4 class="color-skyblue fs21">Disruption Through Design</h4>
                    </div>
                    <p>In this hyper cluttered market we assist companies achieve market disruption through strategic design.When
                        your competitors zig. we zag! </p>
                </div>
                <div class="w20 wow flipInX" data-wow-duration="4s">
                    <!--<img src="img/homepage/33.png " alt="" class="circle-img mar-left3 img-responsive">-->
                    <div class="border-bottom">
                        <h4 class="color-darkgreen fs21">Humanized Approach Brand Design </h4>
                    </div>
                    <p>Humans are predictably irrational. so we make our designs go through intuitive emotional and logical
                        filters. our designs are simple, meaningfull and highly Humanized. </p>
                </div>
                <!--<div class="w20">
                    <img src="img/homepage/311.png" alt="" class="circle-img mar-left4 img-responsive">
                    <div class="border-bottom">
                        <h4 class="smart-green">Efficient Project Management </h4>
                    </div>
                    <p> We work with right mix of planning, monitoring, and controlling that bring difference in complrting a
                        project on time. on budget, and with best quality results. we aim to make it easy and efficient for
                        our clients.
                    </p>
                </div>-->
                <div>
                    <a ui-sref="approach">Know more  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="bg-yellow">
        <div class="container">
            <div class="capabilities-cont">
                <div class="mt30  ">
                    <h1>Capabilities</h1>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInLeft " data-wow-duration="3s">
                                <h4 class="">BRANDING</h4>
                                <h6>CONSUMER / CORPORATE</h6>
                                <ul class="list-unstyled padd-t ">
                                    <!--<li>CONSUMER / CORPORATE</li>-->
                                    <li>Identity Design</li>
                                    <li>Brand Equity + Vision</li>
                                    <li>Brand Naming + Voice</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInLeft " data-wow-duration="3s">

                                <h4>PACKAGE DESIGN</h4>
                                <ul class="list-unstyled">
                                    <li>Brand Package Design</li>
                                    <li>Product Line Extensions</li>
                                    <li>Package Production</li>
                                    <li>Visual Brand Architecture</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInLeft " data-wow-duration="3s">
                                <h4>RETAIL & ENVIRONMENT</h4>
                                <ul class="list-unstyled">
                                    <li>Interior + Exterior Design</li>
                                    <li>POSM + Signage + Retail Design</li>
                                    <li>Trade Show Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInRight " data-wow-duration="3s">
                                <h4 class="">BRAND STRATEGY</h4>
                                <ul class="list-unstyled ">
                                    <li>Brand Idea / Positioning</li>
                                    <li>Brand Architecture, Foundation</li>
                                    <li>Brand Portfolio Extension</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInRight" data-wow-duration="3s">



                                <h4>DIGITAL DESIGN</h4>
                                <ul class="list-unstyled">
                                    <li>User Experience & UI design </li>
                                    <li>Digital Content Design</li>
                                    <li>Mobile Site & App Design</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="capablities-list wow bounceInRight" data-wow-duration="3s">
                                <h4>BRAND COMMUNICATION</h4>
                                <ul class="list-unstyled">
                                    <li>Brand Collaterals</li>
                                    <li>Press, Posters</li>
                                    <li>Danglers, Hoardings</li>

                                    <li>Publication Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <a ui-sref="offering">Know more  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="">

    <div class="showcase">

        <!--flexslider-->
        <div class="">
            <flex-slider animation="slide" flex-slide="myslide in inspireImg2 track by $index" prev-text="" next-text=""
                item-width="325" slideshow="true" slideshow-speed="25000">

                <li class="text-center">
                    <a ui-sref="{{myslide.link}}">
                        <figure class="">

                            <img ng-src="{{myslide.img}}" class="img-responsive iconBlue">
                        </figure>
                    </a>

                </li>
            </flex-slider>
        </div>
    </div>
</section>

<section>
    <div class="bg-blue">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 ">
                        <div class="mt30 ml-25 ">
                            <h4>WHAT OUR </h4>
                            <h4> CLIENTS SAY</h4>
                            <h4 class="fbold">ABOUT US</h4>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-8">
                        <div class="mar-top-bot">
                            <flex-slider animation="fade" flex-slide="myslide in homeText track by $index" animationLoop="true" slideshow-Speed="3000"
                                prev-text="" next-text="" max-items="1" item-width="200" item-margin="0" pauseOnHover="true">
                                <li class="li-color">
                                    <div class="gradient client-say">
                                        <h3>{{myslide.title1}}</h3>
                                        <div class="border">
                                            <div class="circle "></div>
                                        </div>
                                        <p class="fs-12">{{myslide.title2}}</p>
                                    </div>
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="icon-slider">

    <div class="relative">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="  carousels ">
                        <flex-slider class="carousel" flex-slide="img in homeImg track by $index" animation="slide" animationLoop="true" slideshow="true"
                            as-nav-for="#slider" slideshowSpeed="500" animationSpeed="60" pauseOnHover="true">
                            <!--<flex-slider flex-slide="myslide in inspireImg track by $index" animation="fade" animationloop="true"
            move="1" slideshow-Speed="2000" prev-text="" next-text="" animation="slide">-->
                            <li>
                                <div class="client-imgholder">
                                    <div class="row" ng-repeat="row in img track by $index">
                                        <div class="col-md-2 col-sm-2 col-xs-2" ng-repeat="clientimg in row track by $index">
                                            <div class="img-holder listing w125">
                                                <img ng-src="{{clientimg.img}}" alt="" class="img-responsive ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </flex-slider>
                    </div>
                </div>
                <div class="overlay">
                </div>
            </div>
        </div>
    </div>
</section>
<!--<section>
    <div class="container-fluid">
        <div class="row">
           
            <div id="map" style="width:100%;height:300px;"></div>
        </div>

    </div>
</section>-->