<div class="about offers" id="offering">
    <section class="human">
        <div>
            <div class="relative">
                <img src="img/offering/offering-bg.jpg" class="img-responsive" alt="offering-banner">
                <div class="absolute top-bot">
                    <p>At Procreate, our endeavour is to provide holistic branding solutions in the areas of brand management.
                        Our branding services are designed to cover the entire spectrum of branding from consulting to designing
                        identities, developing strategy to creating meaningful brand stories. With a collective experience
                        of like-minded professionals combined with a collaborative approach, we have been able to deliver
                        value to our clients.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="offerings">
        <div class="container">
            <div id="brand">
            <div class="rows1">
                <div class="row">
                    <div class="col-md-6 padding0">
                        <div class="offering-text">
                            <h3 class="text-capitalize">brand strategy</h3>
                            <p class="text-justify">Brand strategy is the foundation for building a strong brand. Strategy is internal and begins
                                with addressing the fundamentals like - developing the brand positioning strategy, purpose,
                                differentiation and experience. This leads to the creation of the brand communication strategy,
                                or the external face and voice of the brand. Developing the brand strategy involves rigor,
                                processes and evaluation. </p>
                            <ul>
                                <li> Brand Strategy</li>
                                <li> Brand Positioning</li>
                                <li> Brand Repositioning</li>
                                <li> Brand Architecture</li>
                            </ul>
                            <div class="butn-green">
                                <button class="btn btn-primary text-uppercase" ui-sref="portfolio">see work</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="offering-img">
                            <figure>
                                <img src="img/offering/3.jpg" class="img-responsive" alt="stratergy">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div id="design">
            <div class="rows2">
                <div class="row">
                    <div class="col-md-6 padding0">
                        <div class="offering-img">
                            <figure>
                                <img src="img/offering/1.jpg" class="img-responsive" alt="design">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="offering-text">
                            <h3 class="text-capitalize">brand design</h3>
                            <p class="text-justify">Creating a design that expresses a brand in a compelling and powerful way is at the heart of
                                corporate identity. The identity of the brand is the most visible symbol representing the
                                very values of the brand. Design has the ability to make your brand visible, more differentiated
                                and competitive. Design needs to bring alive the strategy and enhance the desired imagery
                                of the brand.</p>
                            <ul>
                                <li> Brand Identity Design</li>
                                <li> Print Design</li>
                                <li> Packaging Graphics</li>
                            </ul>
                            <div class="butn-green">
                                <button class="btn btn-primary text-uppercase" ui-sref="portfolio">see work</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="rows1">
                <div class="row">
                    <div class="col-md-6 padding0">
                        <div class="offering-text">
                            <h3 class="text-capitalize">digital services</h3>
                            <p class="text-justify">
                                Consumers are seeking exciting brand stories and they are doing so digitally. We understand this need and the need of the
                                brands to meet their consumers expectations. Hence we are in a constant endeavour to create
                                innovative and engaging solutions for our clients on the digital platform.</p>
                            <ul>
                                <li> Branded Content and Advertising</li>
                                <li> Website and UI Design</li>
                                <li> SEO & Website Analytics</li>
                                <li> SEM & Social Media Advertising</li>
                                <li> Application Development
                                </li>
                            </ul>
                            <div class="butn-green">
                                <button class="btn btn-primary text-uppercase" ui-sref="portfolio">see work</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="offering-img">
                            <figure>
                                <img src="img/offering/2.jpg" class="img-responsive" alt="offering">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rows2">
                <div class="row">
                    <div class="col-md-6 padding0">
                        <div class="offering-img">
                            <figure>
                                <img src="img/offering/4.jpg" class="img-responsive" alt="offering">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="offering-text">
                            <h3 class="text-capitalize">Corporate Branding</h3>
                            <p class="text-justify">Corporate branding is a very nascent practice in India. The culture of branding among many corporates
                                is present but in a very limited manner. Only the large and noteworthy companies in India
                                have invested extensively in infusing a brand culture.</p>
                            <ul>
                                <li> Corporate Brand Strategy</li>
                                <li>
                                    Vision, Mission and Values</li>
                                <li> Brand Guidelines</li>
                            </ul>
                            <div class="butn-green">
                                <button class="btn btn-primary text-uppercase" ui-sref="portfolio">see work</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="management">
            <div class="rows1">
                <div class="row">
                    <div class="col-md-6 padding0">
                        <div class="offering-text">
                            <h3 class="text-capitalize">Brand Management</h3>
                            <p class="text-justify">
                                The custodianship of a brand should go well beyond the marketing department. It is important that the brand is aligned across
                                all the key stakeholders who are managing and helping build the brand.</p>
                            <ul>
                                <li> Brand Management & Activation</li>
                            </ul>
                            <div class="butn-green">
                                <button class="btn btn-primary text-uppercase" ui-sref="portfolio">see work</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="offering-img">
                            <figure>
                                <img src="img/offering/5.jpg" class="img-responsive" alt="offering">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>