<section class="biscuit">
    <div class="rowflex  ">
        <div class="w-33">
            <div class="port-imgs">
                <img src="img/portfolio/new17.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2 class="text-capitalize">deliciously</h2>
                        <h2 class="text-capitalize">tempting</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new15.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2 >Discovering a rich</h2>
                        <h2 class="text-capitalize">taste.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-33 ">
            <div class="port-imgs">
                <img src="img/portfolio/new16.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2 class="text-capitalize">reinventing</h2>
                        <h2 class="text-capitalize">purity</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new18.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2 >Creating new </h2>
                        <h2 >leaders.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-33">
            <div class="port-imgs">
                <img src="img/portfolio/newAA.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Juicing up nature.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="milk">
    <div class="rowflex">
        <div class="w-33">
            <div class="port-imgs">
                <img src="img/portfolio/B.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Capturing the </h2>
                        <h2 >season's essence. </h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new10.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2 class="text-capitalize">Simply Effective. </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-33">
            <div class="port-imgs">
                <img src="img/portfolio/new14.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2 class="text-capitalize">a prfect finish. </h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new12.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2 class="text-capitalize">next generation </h2>
                        <h2 >of Dental Care.</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new9.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Made in Heaven. </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-33">
            <div class="port-imgs">
                <img src="img/portfolio/new13.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2 class="text-capitalize">exclusive salon</h2>
                        <h2 class="text-capitalize">treatment.</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new11.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2 class="text-capitalize">redefining herbal </h2>
                        <h2 class="text-capitalize">medicine.</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new8.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Creating a Strong </h2>
                        <h2 class="text-capitalize">core.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fulltoss">
    <div class="rowflex">
        <div class="w-33">
            <div class="port-imgs">
                <img src="img/portfolio/new7.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Making a legend </h2>
                        <h2>phenomenal.</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new5.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Refreshing medical </h2>
                        <h2>nutrition.</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new3.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Mexican is Fun </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-33">
            <div class="port-imgs">
                <img src="img/portfolio/new6.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>A new outlook for </h2>
                        <h2>dairy branding.</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new4.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Focused media </h2>
                        <h2> branding,</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new2.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Giving coffee a </h2>
                        <h2> twist.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-33">
            <div class="port-imgs">
                <img src="img/portfolio/C.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Worth the weight</h2>
                        <h2> in gold.</h2>
                    </div>
                </div>
            </div>
            <div class="port-imgs">
                <img src="img/portfolio/new1.jpg" class="img-responsive" alt="">
                <div class="overlaying">
                    <div class="overlay-text-bg ">
                        <h2>Conqering </h2>
                        <h2> the Crunch.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>