<section class="biscuit">
    <div class="w-100">
        <div class="port-imgs flex1">
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/5.jpg" rel="gallery" data-fancybox="gallery"><span></span>
<img src="img/portfolio/work/1.jpg" class="full-width" alt=""></div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/5.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/1.jpg" class="full-width" alt="">
                </div>
            </div>
            <!--<div>
                    <img src="img/portfolio/work/1.jpg" class="full-width" alt="" ng-click="maxces();" >
             </div>-->
            <div id="title-1" class="hidden">
                This is 1st title.
            </div>
            <div class="overlaying gradient-graywhite">
                <div class="product-name2 product-name-size absolute">
                    <h5>MAXCES</h5>
                </div>
                <div class="overlay-text-bg top35 absolute">
                    <h2>Creating a roadmap </h2>
                    <h2>for a global solution </h2>
                    <h2>provider.</h2>
                </div>
                <div class="read-more2 product-name-size absolute ">
                    <a> Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/3.jpg" rel="gallery" data-fancybox="gallery"><span></span>
<img src="img/portfolio/work/2.jpg" class="full-width" alt=""></div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/3.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/2.jpg" class="full-width" alt="">
                </div>
            </div>
            <!--<div>
                    <img src="img/portfolio/work/2.jpg" class="full-width" alt="" ng-click="organico();" >
               </div>-->
            <div class="overlaying gradient-organico">
                <div class="product-name product-name-size absolute">
                    <h5>ORGANICO</h5>
                </div>
                <div class="overlay-text-bg top35 absolute">
                    <h2>Creating new </h2>
                    <h2>leaders.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <!--<img src="img/portfolio/work/3.jpg" class="full-width" alt="" ng-click="seth();">-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/2.jpg" rel="gallery" data-fancybox="gallery"><span></span>
<img src="img/portfolio/work/3.jpg" class="full-width" alt=""></div>
            </div>
                <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/2.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/3.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying  gradient-red">
                <div class="product-name product-name-size absolute">
                    <h5>SETH'S</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Discovering a </h2>
                    <h2 class="text-capitalize"> Rich Taste.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a> Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 ">
        <div class="port-imgs flex1">
            <!--<img src="img/portfolio/work/4.jpg" class="full-width" alt="" ng-click="mega();">-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/4.jpg" rel="gallery" data-fancybox="gallery"><span></span>
<img src="img/portfolio/work/4.jpg" class="full-width" alt=""></div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/4.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/4.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying  gradient-mega">
                <div class="product-name product-name-size absolute">
                    <h5>MEGA WE CARE</h5>
                </div>
                <div class="overlay-text-bg top35 absolute">
                    <h2>A modern outlook to </h2>
                    <h2> a legacy in medicine.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <!--<img src="img/portfolio/work/5.jpg" class="full-width" alt="" ng-click="vista();">-->
            <div class="hidden-xs">
            <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/1.jpg" rel="gallery" data-fancybox="gallery">
                <img src="img/portfolio/work/5.jpg" class="full-width" alt="">
            </div>
            </div>
             <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/1.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/5.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying  gradient-vistas">
                <div class="product-name product-name-size absolute">
                    <h5>VISTA</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Focused media </h2>
                    <h2> branding.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <!--<img src="img/portfolio/work/new11.jpg" class="full-width" alt="" ng-click="herbal();">-->
            <div class="hidden-xs">
            <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/6.jpg" rel="gallery" data-fancybox="gallery">
                <img src="img/portfolio/work/new11.jpg" class="full-width" alt="">
            </div>
            </div>
             <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/6.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/new11.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying gradient-Psoracare">
                <div class="product-name product-name-size absolute">
                    <h5>MEGA WE CARE</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2 class="text-capitalize">redefining herbal </h2>
                    <h2 class="text-capitalize">medicine.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="milk">

    <div class="w-100">
        <div class="port-imgs flex1">
            <!--<div>
                    <img src="img/portfolio/work/7.jpg" class="full-width" alt=""  ng-click="login();" >
                   </div>-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/dabur.jpg" rel="gallery" data-fancybox="gallery">
                    <img src="img/portfolio/work/7.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/Dabur.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/7.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying gradient-yellow">
                <div class="product-name product-name-size absolute ">
                    <h5>DABUR</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2 class="text-capitalize">deliciously</h2>
                    <h2 class="text-capitalize">tempting.</h2>
                </div>
                <div class="read-more product-name-size absolute ">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <!--<div>
                    <img src="img/portfolio/work/8.jpg" class="full-width" alt=""  ng-click="belicious();">
                      </div>-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/Beelicious.jpg" rel="gallery" data-fancybox="gallery">
                    <img src="img/portfolio/work/8.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/Beelicious.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/8.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying gradient-orange">
                <div class="product-name product-name-size absolute">
                    <h5>BEELICIOUS</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2 class="text-capitalize">reinventing</h2>
                    <h2 class="text-capitalize">purity.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <!--<div>
                    <img src="img/portfolio/work/10.jpg" class="full-width" alt="" ng-click="phalse();" >
                </div>-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/Phalsa.jpg" rel="gallery" data-fancybox="gallery">
                    <img src="img/portfolio/work/10.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/Phalse.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/10.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying gradient-lightgreen">
                <div class="product-name2 product-name-size absolute">
                    <h5>ITC PHALSE</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Juicing up nature.</h2>
                </div>
                <div class="read-more2 product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>

        </div>
    </div>
    <div class="w-100">
        <div class="port-imgs flex1">
            <!--<div>
                    <img src="img/portfolio/work/9.jpg" class="full-width" alt="" ng-click="nerolac();">

                </div>-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/nerolac.jpg" rel="gallery" data-fancybox="gallery">
                    <img src="img/portfolio/work/9.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/Nerolac.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/9.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying gradient-darkpink">
                <div class="product-name product-name-size absolute">
                    <h5>NEROLAC</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2 class="text-capitalize">a perfect finish.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <!--<div>
                    <img src="img/portfolio/work/11.jpg" class="full-width" alt="" ng-click="bael();">
               </div>-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/beal.jpg" rel="gallery" data-fancybox="gallery">
                    <img src="img/portfolio/work/11.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/Beal.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/11.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying gradient-green">
                <div class="product-name2 product-name-size absolute">
                    <h5>ITC BAEL</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Capturing the </h2>
                    <h2>season's essence. </h2>
                </div>
                <div class="read-more2 product-name-size absolute">
                    <a> Read more </a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <!--<img src="img/portfolio/work/26.jpg" class="full-width" alt="" ng-click="redgel();">-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/redgel.jpg" rel="gallery" data-fancybox="gallery">
                    <img src="img/portfolio/work/26.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/DaburRed.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/26.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying gradient-purpal">
                <div class="product-name product-name-size absolute">
                    <h5>DABUR</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2 class="text-capitalize">Next Generation </h2>
                    <h2>of Dental Care.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more </a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="port-imgs flex1">
            <!--<img src="img/portfolio/work/13.jpg" class="full-width" alt=""  ng-click="parachute();" >-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/marico.jpg" rel="gallery" data-fancybox="gallery">
                    <img src="img/portfolio/work/13.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/Marico.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/13.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying gradient-parachute">
                <div class="product-name product-name-size absolute">
                    <h5>PARACHUTE</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2 class="text-capitalize">exclusive salon</h2>
                    <h2 class="text-capitalize">treatment.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <!--<img src="img/portfolio/work/14.jpg" class="full-width" alt="" ng-click="coffee();" >-->
            <div class="hidden-xs">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/Procreate Portfolio-Cafechino.jpg" rel="gallery" data-fancybox="gallery">
                    <img src="img/portfolio/work/14.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div class="fancybox-nav fancybox-next" href="img/portfolio/Parle-Cafechino.jpg" rel="gallery2" data-fancybox="gallery2">
                    <img src="img/portfolio/work/14.jpg" class="full-width" alt="">
                </div>
            </div>
            <div class="overlaying gradient-cafechino">
                <div class="product-name product-name-size absolute">
                    <h5>PARLE</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Giving coffee a </h2>
                    <h2> twist.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>

        <div class="port-imgs flex1">
            <!--<img src="img/portfolio/work/15.jpg" class="full-width" alt=""  ng-click="parle();">-->
            <div class="fancybox-nav fancybox-next" href="img/portfolio/popup/w.jpg" rel="gallery" data-fancybox="gallery">
                <img src="img/portfolio/work/15.jpg" class="full-width" alt="">
            </div>
            <div class="overlaying gradient-wafers">
                <div class="product-name product-name-size absolute">
                    <h5>PARLE</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Conquering </h2>
                    <h2> the Crunch.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="casestudy-strip text-capitalize text-center">
    <h2 class=" margin0 ">CASE STUDIES</h2>
</div>
<section class="fulltoss">
    <div class="w-100">
        <div class="port-imgs flex1">
            <img src="img/portfolio/work/16.jpg" class="full-width" alt="" ui-sref="good">

            <div class="overlaying gradient-pink">
                <div class="product-name product-name-size absolute">
                    <h5>PARLE </h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2 class="text-capitalize">Simply Effective. </h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <div>
                <img src="img/portfolio/work/17.jpg" class="full-width" alt="" ui-sref="arch">
            </div>
            <div class="overlaying gradient-arcs">
                <div class="product-name product-name-size absolute">
                    <h5>PARLE</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Made in Heaven. </h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <div>
                <img src="img/portfolio/work/18.jpg" class="full-width" alt="" ui-sref="doycare">
            </div>
            <div class="overlaying gradient-doycare">
                <div class="product-name product-name-size absolute">
                    <h5>DOY CARE</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Creating a Strong </h2>
                    <h2 class="text-capitalize">core.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a> Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="port-imgs flex1">
            <img src="img/portfolio/work/19.jpg" class="full-width" alt="" ui-sref="sgsports">

            <div class="overlaying gradient-sg">
                <div class="product-name product-name-size absolute">
                    <h5>SG</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Making a legend </h2>
                    <h2>phenomenal.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <!--ng-click="vachan();"-->
            <img src="img/portfolio/work/20.jpg" class="full-width" alt="" ui-sref="vachan">
            <div class="overlaying gradient-vachan">
                <div class="product-name product-name-size absolute">
                    <h5>VACHAN</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>A new outlook for </h2>
                    <h2>dairy branding.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="port-imgs flex1">
            <div>
                <img src="img/portfolio/work/21.jpg" class="full-width" alt="" ui-sref="vachan">
            </div>
            <div class="overlaying gradient-milk">
                <div class="product-name product-name-size absolute">
                    <h5>VACHAN</h5>
                </div>
                <div class="overlay-text-bg top35 absolute ">
                    <h2>Worth the weight</h2>
                    <h2 class="text-capitalize">in gold.</h2>
                </div>
                <div class="read-more product-name-size absolute">
                    <a>Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>