<section class="sgsports vachan mar-t30">

    <div class="main-banner">
        <div class="">
            <img src="img/portfolio/sg/2.jpg" alt="" class="img-responsive">
        </div>
    </div>

    <div class="container">
        <div class="content-banner pdd10 text-center">
            <h3 class="vachan-title-first">REVITALIZING CORPORATE IDENTITY</h3>
            <p class="fs-16"><strong> SG Logo is a stylized SG typography encapsulated by a shield. The shield element is a strong symbol that
                connects with the heritage & legacy of the SG brand Also conveys the dependable and trustworthy characteristics
                of SG products.</strong>
            </p>
        </div>
        <div class="banner-inside">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-inside-img">
                        <img src="img/portfolio/sg/3.png" alt="" class="img-responsive">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-red robust text-center">
        <h2>ROBUST PERFORMANCE | TRUSTWORTHY | RELIABLE</h2>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="banner-inside-img sg-box-padd ">
                    <img src="img/portfolio/sg/5.jpg" alt="" class="img-responsive">

                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="banner-inside-img inno-content-padd padd-t230">
                    <img src="img/portfolio/sg/6.png" alt="" class="img-responsive">

                </div>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="banner-inside-img sg-img-padd ">
                    <img src="img/portfolio/sg/4.jpg" alt="" class="img-responsive">

                </div>
            </div>
        </div>
    </div>
    <div class="bg-red robust text-center">
        <h4>
            “Bold, Robust, Performance in the face of adversity. SG reflects the courage that sportspeople demonstrate by winning against
            the odds. Of those who are hardworking and not shaken off easily.”
        </h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 padd0 ">
                <div class="banner-inside-img ">
                    <img src="img/portfolio/sg/7.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padd0 ">
                <div class="banner-inside-img ">
                    <img src="img/portfolio/sg/8.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padd0">
                <div class="banner-inside-img ">
                    <img src="img/portfolio/sg/9.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padd0">
                <div class="banner-inside-img ">
                    <img src="img/portfolio/sg/10.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-red robust text-uppercase mar-b70 text-center">
        <h3>
            “SG in this new avatar, reflects the progressive nature of new generation” </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-6">
                <div class="previ-iconarch">
                    <!--<img src="img/portfolio/prev.png" alt="" class="img-responsive">-->
                    <span ui-sref="good">PREVIOUS CASE STUDY</span>
                </div>
                <div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-6">
                <div class="pull-right">
                    <div class="next-iconarch">
                        <!--<img src="img/portfolio/next.png" alt="" class="img-responsive">-->
                        <span ui-sref="doycare">NEXT CASE STUDY</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>