<section class="vachan mar-t90 ">
    <div class="container">
        <div class="main-banner">
            <div class="vachan-bg-padd">
        <img src="img/portfolio/vachan/1.png" class="full-width">
    </div>
            <div class="content-banner text-center">
                <h3 class="vachan-title-first ">VACHAN  Branding (SARDA DAIRY, Raipur. 2015')</h3>
                <p class="vachan-padd-trbt ">M/S Sarda Energy & Minerals, a Chhattisgarh based leading conglomerate with diversified product portfolio into Energy, Steel & Minerals wanted to enter into dairy sector with a differentiated win- win CSR based business model. They focused on development of rural farmers and modern dairy farming technique. We partnered with them for creating a unique, ownable and sustainable brand platform for them to get a competitive edge in today's cluttered market scenario.
                </p>
            </div>
            <div class="banner-inside">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center padd-b35">
                        <h5> <span>BENEFIT</span> - Uttam Swad, Sawarti Zindagi  - </h5>
                        <p>Taste as an enricher (25% more creamy) CSR Business Model that aims at economic development & quality of life for dairy cattle
                        </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-img">
                            <img src="img/portfolio/vachan/3.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-content ">
                             <div class="mart20 text-center ">
                            <img src="img/portfolio/vachan/4.png" alt="" class="padd20 width50">
                        </div>
                        <div class="vachan-inside-p ">
                            <p class="color-gray ">
                               Vachan Identity – In Indian culture, blossom on the hand is holy gesture made  while undertaking a oath or making a promise. In our case its promise to enrich lives where blossom represents growth, prosperity & thrive of farming community, consumers and dairy cattle. 
                            </p>
                            <p>

Brand Package Design - Visual Identity of rainbow represents a perfect harmonic combination which produces a symbol of beauty, promise and enlightenment. 
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-content vachan-cont-padd">
                            <div class="vachan-title-border-bottom">
                                <h3 class="vachan-title">DESCRIPTION </h3>
                            </div>
                            <div class="vachan-inside-p">
                            <p >
                               Indian culture has always depicted cow as a measure of wealth and prosperity. Milk and milk products also enrich the taste of the foods in which they are added. Milk as a symbol of enrichment and prosperity resonated deeply and is in sync with our culture and Vedas. Pure milk nourishment takes care of the health of consumers who can focus on their careers and ambitions to enrich their lives. Sarda Dairy’s CSR Business Model that aims at economic development of the local dairy farming community, dairy cattle and trade partners. 
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-img inno-content-padd padd-b">
                            <img src="img/portfolio/vachan/12.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="vachan-inside-img ">
                            <img src="img/portfolio/vachan/5.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="vachan-inside-img ">
                            <img src="img/portfolio/vachan/6.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-inside-content visual-cont-padd ">
                            <div class="vachan-title-border-bottom">
                                <h3 class="vachan-title">INNOVATION</h3>
                            </div>
                            <div class="vachan-inside-p">
                            <p>
                                When all dairy brands are claiming about purity, trust, freshness, nature’s/mom’s love & care; we talk about overall enrichment. Enrichment in terms of the quality of life for the dairy cattle, CSR business model that aims at economic development of local dairy farming community and dairy products as a taste enricher.

                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="banner-inside-content visual-cont-padd ">
                            <div class="vachan-title-border-bottom">
                                <h3 class="vachan-title">DESIGN SUCCESS</h3>
                            </div>
                            <div class="vachan-inside-p">
                            <p >
                               The launch of brand Vachan has received an overwhelming response in terms of brand trials and shelf off.

                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="objective">
                        <img src="img/portfolio/vachan/7.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="vachan-previ-icon">
                        <!--<img src="img/portfolio/prev.png" alt="" class="img-responsive">-->
                        <span ui-sref="vachan">PREVIOUS CASE STUDY</span>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="">
                        <div class="vachan-next-icon">
                            <!--<img src="img/portfolio/next.png" alt="" class="img-responsive">-->
                            <span ui-sref="good">NEXT CASE STUDY</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


