<!--<div class="text-center modal-header">
  <h2 class="modal-heading">Login</h2>
</div>-->
<div class="login-modal">
    <div class="relative">
        <img src="img/portfolio/popup/beall.jpg" class="full-width" alt="">
        <div class="absolute top0 bael-modal-color">
            <div class="row">
                <div class="col-md-8">
                    <h6 class="modal-heading">ITC - B NATURAL - BEAL JUICE </h6>
                    <div class="modal-first-para">
                        <P><span>Scope of Work :</span> New Brand Design, Visual Brand Architecture, Packaging Design
                        </p>
                    </div>
                    <div class="modal-second-para">
                        <p>
                            B Natural a market leader in natural fruit juice segment want to extend there range of offering to natural juices with a
                            launch of unique summer coolant Bael Juice. We developed immersive and rich experience of a summer
                            coolant beverage, linking to cultural, emotional and fruit perceptions basis the insights.

                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="close-modal" ng-click="$dismiss()">
            <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
    </div>
</div>