<!--<div class="text-center modal-header">
  <h2 class="modal-heading">Login</h2>
</div>-->
<div class="login-modal">
    <div class="relative">
        <img src="img/portfolio/popup/Beeliciouss.jpg" class="full-width" alt="">
        <div class="absolute top0 beelicious-modal-color">
            <div class="row">
                <div class="col-md-8">
                    <h6 class="modal-heading">BEELICIOUS </h6>
                    <div class="modal-first-para">
                        <P><span>Scope of Work :</span> New Brand Design, Visual Brand Architecture, Packaging Design
                      </p>
                    </div>
                    <div class="modal-second-para">
                        <p>
                            Objective was to clearly establish a speciality new honey product with a distinct, premium and strong identity. Our role
                            went further to express brand idea ‘For the love of Honey’ with a unique visual idea. We developed
                            a robust unifying visual brand architecture that can span other product categories, formats and
                            variants thereby creating a powerful impact on shelves.
                       </p>
                      </div>
                </div>
            </div>
        </div>
        <div class="close-modal" ng-click="$dismiss()">
            <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
    </div>
</div>