<!--<div class="text-center modal-header">
  <h2 class="modal-heading">Login</h2>
</div>-->
<div class="login-modal">
 <div class="relative">
   <img src="img/portfolio/popup/daburr.jpg" class="full-width" alt=""  >
<div class="absolute top0">
 <div class="row">
     <div class="col-md-8">
   <h6 class="modal-heading">DABUR HONEY FRUIT SPREAD</h6>
   <div class="modal-first-para">
       <P ><span>Scope of Work :</span> New Brand Design, visual Brand Architecture, Packaging Design
 </p>
   </div>
 <div class="modal-second-para">
       <p>
           Dabur a Market leader in branded honey segment wanted extend this equity into a new product - supalHoney Fruit Preserve.
 It combines the magic of honey with superfruits, so to create an experiential brand for breakfast consumption.
 </p>
 <p>
     Opportunity: Create a whole new space whitin the moming that's polar to the idea of functional and basic.
     A sinfully tasty indulgent fruit spread that can be used with almost every breakfast eatable.
 </p>
 <p >
     Our visual positioning goal was to leverage use of honey with a indulgent fruit experiance. Honey dripping on fruit, purely depicts honey
     + fruits with a balanced design objective.
 </p>
 </div>
     </div>
 </div>
 </div>
 <div class="close-modal" ng-click="$dismiss()">
<i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>
</div>