<!--<div class="text-center modal-header">
  <h2 class="modal-heading">Login</h2>
</div>-->
<div class="login-modal">
    <div class="relative">
        <img src="img/portfolio/popup/mm.jpg" class="full-width" alt="">
        <div class="absolute top0 maxitos-color">
            <div class="row">
                <div class="col-md-8">
                    <h6 class="modal-heading">MEXITOS - Brand Package Design</h6>
                    <div class="modal-first-para">
                        <P><span>Scope of Work :</span> Brand Identity, Pack Design & Retail FSU
                        </p>
                    </div>
                    <div class="modal-second-para">
                        <p>
                            Mexitos nacho chips is made up of authentic mexican ﬂavor & recipe. Mexico, being the origin of the nachos, co. wanted to
                            harp on the provenance story and that was the starting point. We saw this as an opportunity to
                            alleviate the brand experience through unique visual story & design. Through Mexitos, we try
                            to introduce a unique Mexican style of snacking.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="close-modal" ng-click="$dismiss()">
            <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
    </div>
</div>