<!--<div class="text-center modal-header">
  <h2 class="modal-heading">Login</h2>
</div>-->
<div class="login-modal">
  <div class="relative">
    <img src="img/portfolio/popup/redgell.jpg" class="full-width" alt="">
    <div class="absolute top0 redgel-color">
      <div class="row">
        <div class="col-md-8">
          <h6 class="modal-heading">DABUR RED GEL</h6>
          <div class="modal-first-para">
            <P><span>Scope of Work :</span> New Brand Design, Visual Brand Architecture, Packaging Design
            </p>
          </div>
          <div class="modal-second-para">
            <p>
              Problem - Original Dabur Red brand range of tooth powder and tooth paste is considered as traditional and old. The product
              is powerful because of the various Ayurvedic ingredients and it’s very effective for dental problem. The objective
              was to create a new variant for Dabur Red but in gel format in order to fuel inorganic growth into more modern
              trade formats & to be perceived as modern & contemporary oral care brand. And at the same time connote the
              brand promise which combines the “freshness of gel and problem solving natural herbs” for complete dental care.
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="close-modal" ng-click="$dismiss()">
      <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
  </div>
</div>