/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #6ce202 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-black:#424242 !default;
$brand-green:#39b548 !default;
$brand-brown:#683818 !default;
$brand-darkbrown:#5f2f0f !default;
$brand-yellow:#fec622 !default;
$brand-lightergreen:#8cffff !default;
$brand-blue:#00928d !default;
$brand-gray:#3c3c3c !default;
$brand-grey:#e4e4e4 !default;
$brand-lightblue:#4dbed9 !default;
$brand-darkblue:#0082d2 !default;
$brand-lightgreen:#00aae1 !default;
$brand-skyblue:#00d7e1 !default;
$brand-darkgreen:#00d2aa !default;
$brand-smartgreen:#8cd26e !default;
$brand-btnblue:#85d2e5 !default;
$brand-lightblack:#707070 !default;
$brand-pink:#e46fbf !default;
$brand-red:#fe7349 !default;
$brand-lightpink:#ed7095 !default;
$brand-darkpink:#e60774;
$brand-lightpurpal:#bf202e;
$brand-skin:#fffccd;
$brand-red:#f42434;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@font-face {
    font-family: 'gothambook';
    src: url('../fonts/GothamBook Regular.otf');
}

@font-face {
    font-family: 'gothamMedium';
    src: url('../fonts/Gotham Medium.otf');
}

@font-face {
    font-family: 'gothamBold';
    src: url('../fonts/GothamBold Regular.otf');
}

@font-face {
    font-family: 'gothamLight';
    src: url('../fonts/GOTHAM-LIGHT.ttf');
}

@font-face {
    font-family: 'gotham-el';
    src: url('../fonts/GothamExLight Regular.otf');
}

@font-face {
    font-family: 'corisande-b';
    src: url('../fonts/CorisandeBold.ttf');
}

@font-face {
    font-family: 'gotham-narrow-book';
    src: url('../fonts/GothamNarrow-Book.otf');
}

@font-face {
    font-family: 'gotham-narrow-m';
    src: url('../fonts/Gotham Narrow Medium.otf');
}

@font-face {
    font-family: 'gotham-narrow-book';
    src: url('../fonts/GothamNarrow-Book.otf');
}

@font-face {
    font-family: 'gotham-narrow-bold';
    src: url('../fonts/Gotham Narrow Bold.otf');
}

@import "other/font-fix";
body {
    overflow-x: hidden!important;
}

body,
h4,
h5,
p {
    font-family: gothambook;
}

h4,
h5,
h6,
p {
    color: white;
}

h1 {
    color: $brand-darkbrown;
}

h3 {
    font-family: gothamBold;
}

.fbold {
    font-family: gothamBold;
}

textarea {
    resize: none;
}

.mt30 {
    margin-top: 30px;
}

.pdd45 {
    padding: 45px 0;
}

.image-circles {
    padding-top: 45px;
}

.full-width {
    width: 100%;
}

.flex-direction-nav a {
    opacity: 1;
}

.mb30 {
    margin-bottom: 30px;
}

.mt70 {
    margin-top: 70px;
}

.mt3 {
    margin-top: 3px;
}

.mb70 {
    margin-bottom: 70px;
}

.ml {
    margin-left: -14px;
}

.ml40 {
    margin-left: 40px;
} // .ml-25 {
//     margin-left: -25px;
// }
.padd25 {
    padding: 0px 25px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.paddl {
    padding-left: 40px;
}

.mar-t90 {
    margin-top: 90px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.padding0 {
    padding: 0;
}

.margin0 {
    margin: 0;
}

.grad {
    height: 326px;
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #d76bfd, rgba(255, 67, 33, 0.83));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d76dfd, rgba(255, 67, 33, 0.83));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d76dfd, rgba(255, 67, 33, 0.83));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d76dfd, rgba(255, 67, 33, 0.83)); // box-shadow: 10px 10px 5px #e56f86;
    /* Standard syntax (must be last) */
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    background-color: $brand-skin; // .form-control {
    //     background-color: $brand-black;
    //     font-size: 12px;
    //     color:#fff;
    // }
    // .social-icon a {
    //     padding-right: 10px;
    //     cursor: pointer;
    //     i {
    //         font-size: 20px;
    //         border: 1px solid #fff;
    //         border-radius: 50%;
    //         width: 40px;
    //         height: 40px;
    //         padding: 8px 0;
    //         text-align: center;
    //         @include transition (all ease 300ms);
    //     }
    //     &:hover {
    //         i {
    //             border-color: darken(#fff, 20%);
    //             color: darken(#fff, 20%);
    //         }
    //     }
    // }
    // a {
    //     letter-spacing: 1px;
    //     color: black;
    //     font-size: 14px;
    //     &:hover {
    //         color: darken(#fff, 15%);
    //     }
    // }
    h2 {
        font-size: 35px;
    }
    h5 {
        font-size: 13px;
        color: black;
        a {
            font-size: 13px;
            color: black;
            line-height: 1px;
            font-weight: 600;
        }
    }
    .get-call h5 {
        font-family: 'gothamBold';
        line-height: 1px;
        font-weight: 600;
    }
    .contact p {
        font-family: 'gothambook';
        font-size: 13px;
        color: black;
        font-weight: 600;
    }
    .mob-number h5 {
        font-family: 'gothambook';
    }
    .mob-number a:hover {
        color: black;
    }
    .mar-tb {
        margin: 40px 0px 33px 0px;
    }
    .talk {
        padding: 13px 0px 0px 0px;
    }
    .social-icon {
        padding: 30px 0px 0px 23px;
    }
    .contact-us {
        padding: 13px 0px 0px 35px;
    } // .bg-gray {
    //     p {
    //         font-family: gotham-el;
    //     }
    // } // ul {
    //     list-style-type: none;
    //     color: black;
    //     font-family: gothambook;
    // }
    // li {
    //     font-family: gothamLight;
    // }
    p {
        font-family: gotham-el;
        color: white;
    }
    .text-decoration {
        font-family: gotham-el; // text-decoration: underline;
        color: black;
    } // .robot {
    //     margin-top: -4px;
    //     width: 100%;
    // }
    // .bg-white {
    //     ul {
    //         li {
    //             @include size(130px,
    //             150px);
    //             display: inline-block;
    //             margin: 0px;
    //             padding: 0px;
    //         }
    //     }
    //     img {
    //         width: 100%
    //     }
    // }
    // .bg-black {
    //     background-color: $brand-black;
    //     padding-bottom: 20px;
    // }
    .bg-gray {
        // background: #555;
        @include linear-gradient(to top,
        #555,
        #222222);
        span {
            font-family: gothamBold;
        }
    } // .contact {
    //     float: right;
    // }
    .circle-img {
        width: 10px;
    }
    .circle-img2 {
        width: 23px;
        margin: 0 40px;
    }
    .circle-img3 {
        width: 20px;
    }
    .img-inline {
        display: inline-block;
        width: 35px;
        margin: 0px 10px;
    }
    label {
        color: white;
    } // .form-control {
    //     height: 28px;
    //     border-radius: 3px;
    // }
    // .dis-inline {
    //     display: inline-block;
    //     width: 19%;
    // }
    // .w100 {
    //     border-radius: 4px;
    //     height: 110px;
    // }
    // .btn-blue {
    //     background-color: $brand-smartgreen;
    //     border-color: $brand-smartgreen;
    //     font-size: 11px;
    //     border-radius: 0;
    //     padding: 6px 15px;
    //     &:hover {
    //         color: $brand-smartgreen;
    //         border-color: $brand-smartgreen;
    //         background-color: $brand-black;
    //     }
    //     &:focus {
    //         outline: 0;
    //     }
    // }
    .w65 {
        width: 65%;
    }
    .circle-img4 {
        width: 70%;
    }
    .block-inline {
        display: inline-block;
    }
    .ver-middle {
        vertical-align: middle;
    }
    .fs12 {
        font-size: 12px;
    }
    .mar15 {
        margin: 20px 0px 50px 0px;
    }
    .mt27 {
        margin-top: 27px;
    }
    .marin {
        // margin-right: 55px;
        margin-right: 42px;
        margin-top: -60px;
    }
    .arrow-up {
        // margin-top: 43px;
        margin-top: -6px;
        left: 93%;
        .btn-border-none {
            border: none;
            background: white;
            color: #555252;
        }
    }
} //bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
} //FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    @include transition(all 300ms ease);
    .navbar-brand {
        @include transition(all 300ms ease);
        .w200 {
            @include transition(all 300ms ease);
        }
    }
    &.small-image {
        .navbar-brand {
            width: 65px;
            overflow: hidden;
            .w200 {
                @include transform(translate(-210px));
            }
        }
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-nav>a:hover,
    {
        background: transparent;
        span {
            border-bottom: 4px solid white;
        }
    }
    .w200 {
        // width: 93%;
        padding-top: 18px;
    }
    .mb20 {
        margin-bottom: 20px;
    }
    .img-a {
        width: 260px;
        height: 70px;
        margin-left: 80px;
        overflow: hidden;
    }
    .navbar-nav {
        a {
            color: $brand-black !important;
            top: 18px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            &:hover {
                span {
                    border-bottom: 4px solid $brand-smartgreen;
                }
            }
        }
        span {
            padding-bottom: 5px;
        }
    }
    .navbar {
        background-color: white;
    }
}

.nav-up {
    transform: translateY(-100%);
}

h2 {
    color: white;
}

p {
    color: white;
    font-family: gothambook;
}

.navbar-brand {
    @include transition(all 300ms ease);
    padding: 15px 0px;
} // homepage start
.li-color {
    background-color: $brand-green;
}

.bg-brown2 {
    background-color: $brand-brown;
    p {
        // margin: 50px 0px;
        margin: 50px 43px 50px 0px;
        font-family: gothambook; // font-weight: 700; // font-size: 18px;
        font-size: 18px;
        padding-left: 20px;
        text-align: justify;
    }
    span {
        font-weight: 700;
    }
    .arrow-icon {
        height: 150px;
    }
    .mt15 {
        margin-top: 15px;
    }
}

.flex-control-nav {
    bottom: 5px !important;
    z-index: 2;
}

.flexslider .slides img {
    margin: 36px 78px 0px 0px;
}

.first-slider {
    .flexslider .flex-direction-nav a {
        // width: 400px;
    }
    .flex-control-paging li a.flex-active {
        background: transparent;
        box-shadow: none;
        border: 2px solid white;
    }
    .flex-control-paging li a {
        background: white;
        border: 2px solid white;
        box-shadow: none;
    }
    .flexslider {
        .flex-direction-nav {
            a {
                width: 50px;
            }
            .flex-nav-prev {
                a:before {
                    content: "";
                    display: inline-block;
                    background-image: url("../img/homepage/1.png");
                    color: rgba(0, 0, 0, 0.8);
                    width: 100px;
                    height: 134px;
                    opacity: 1;
                }
            }
            .flex-nav-prev:hover {
                a:before {
                    opacity: 1;
                }
            }
            .flex-nav-next {
                a:before {
                    content: "";
                    display: inline-block;
                    background-image: url("../img/homepage/00.png");
                    color: rgba(0, 0, 0, 0.8);
                    width: 100px;
                    height: 134px;
                    opacity: 1;
                }
            }
            .flex-nav-next:hover {
                a:before {
                    opacity: 1;
                }
            }
        }
    }
    .flexslider .slides img {
        margin: 70px 78px 0px 0px;
    }
}

.flexslider {
    margin: 0 0 0px;
    border: none;
    .flex-direction-nav {
        a {
            width: 48px;
        }
        .flex-nav-prev {
            a:before {
                content: "";
                display: inline-block;
                background-image: url("../img/homepage/26.png");
                color: rgba(0, 0, 0, 0.8);
                width: 100px;
                height: 134px;
                opacity: 0;
            }
        }
        .flex-nav-prev:hover {
            a:before {
                opacity: 1;
            }
        }
        .flex-nav-next {
            a:before {
                content: "";
                display: inline-block;
                background-image: url("../img/homepage/27.png");
                color: rgba(0, 0, 0, 0.8);
                width: 100px;
                height: 134px;
                opacity: 0;
            }
        }
        .flex-nav-next:hover {
            a:before {
                opacity: 1;
            }
        }
    }
    .flex-direction-nav .flex-prev {
        left: 150px !important;
    }
    .flex-direction-nav .flex-next {
        right: 150px !important;
    }
}

.icon-slider {
    background: #e5dc39;
    .flex-control-nav {
        // bottom: -40px !important;
        bottom: -20px !important;
        z-index: 2;
    }
    .flex-control-paging li {
        margin: 0 4px;
        display: none; // a {
        //     background: white !important;
        //     box-shadow: none;
        //     &.flex-active {
        //         background: #00928d !important;
        //     }
        // }
    }
    .flex-control-paging li a.flex-active {
        background: white;
        display: none;
    }
    .flex-control-paging li a {
        background: #00928d;
    }
    .w125 {
        // width: 125px;
        width: 100px;
    }
}

.circle {
    .fs21 {
        font-size: 23px !important;
    }
    .w20 {
        // width: 19%;
        width: 24.5%;
        height: auto;
        display: inline-block;
        position: relative;
        vertical-align: top;
        p {
            color: black;
        }
    }
    .text-color {
        a {
            color: $brand-black;
            font-size: 15px;
            font-weight: 600;
        }
        p {
            padding: 18px 18px 18px 0;
            font-size: 14px;
            color: $brand-lightblack;
        }
        h4 {
            font-family: 'gothamMedium';
            font-size: 18px;
        }
        .color-darkblue {
            color: $brand-darkblue; // padding-left: 26px;
            padding-left: 6px;
        }
        .color-lightgreen {
            color: $brand-lightgreen; // padding-left: 23px;
            padding-left: 6px;
        }
        .color-skyblue {
            color: $brand-skyblue; // padding-left: 24px;
            padding-left: 6px;
        }
        .color-darkgreen {
            color: $brand-darkgreen; // padding-left: 22px;
            padding-left: 6px;
        }
        .smart-green {
            color: $brand-smartgreen; // padding-left: 20px;
            padding-left: 6px;
        }
    }
    .circle-img {
        width: 100%;
    }
    .mar-left2 {
        //   margin-left: 27px;
        position: relative;
        z-index: 99;
    }
    .border-bottom {
        border-bottom: 2px solid #d3d5d6;
        height: 70px;
        margin: 0 20px 0 0;
    }
}

.bg-yellow {
    background-color: $brand-skin;
    .padd0 {
        padding: 0px;
    }
    .capabilities-cont {
        h1 {
            padding-bottom: 10px;
            font-family: 'gothamMedium';
        }
        .padd-t {
            padding-top: 5px;
        }
        h4 {
            color: $brand-darkbrown;
            font-family: gothamBold;
            margin-bottom: 0;
        }
        h6 {
            color: $brand-darkbrown;
            font-family: gothamBold;
            margin: 0px;
        }
        ul {
            padding-bottom: 5px;
            padding-top: 15px;
        }
        li {
            // color: $brand-brown;
            color: black;
            font-family: gothambook;
        }
        a {
            color: $brand-brown;
            font-family: gothamBold;
            font-weight: 600;
            font-size: 14px;
        }
    }
}

.padd-tb {
    padding: 20px 0;
}

.bg-brown {
    background-color: $brand-brown;
    h5 {
        //    font-size: 20px;
        font-size: 33px;
        line-height: 8px; //   margin-top: -6px;
        font-family: 'gothamMedium';
    }
    h4 {
        font-family: 'gothamMedium'; //   font-size: 22px;
        font-size: 36px;
        margin: 0;
    }
    li {
        background-color: $brand-brown;
    }
    ul {
        background-color: $brand-brown;
    }
    p {
        font-family: gothambook;
        font-size: 18px;
        padding-left: 20px;
    }
    h3 {
        color: white;
        font-size: 20px;
        margin-top: 0;
    }
    .border-tb {
        border-top: 1px solid #90cb18;
        border-bottom: 1px solid #90cb18;
        padding: 12px 0px 5px; // margin: 20px 9px;
        margin: 28px 0px;
    }
    .fs15 {
        font-size: 12px;
        top: -14px;
        margin-right: -49px;
    }
    .tm {
        font-size: 7px;
        margin-left: 162px;
        color: white;
    } // .fs-18{
    //         font-family: gothambook;
    // font-size: 18px;
    // padding-left: 20px;
    // }
    .flex-control-paging li a {
        display: none;
    }
    .flex-control-paging li a.flex-active {
        display: none;
    }
    .flex-direction-nav {
        .flex-nav-prev {
            a:before {
                content: "";
                display: inline-block;
                background-image: url("../img/homepage/44.png");
                background-repeat: no-repeat;
                color: rgba(0, 0, 0, 0.8);
                width: 150px;
                height: 150px;
                opacity: 1;
            }
        }
        .flex-nav-next:hover {
            display: none;
        }
        a {
            top: 2%;
            width: 70px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
        }
    }
    .flexslider .flex-direction-nav .flex-prev {
        // left: -115px !important;
        left: -52px !important;
    }
    .border {
        width: 79%;
        border-bottom: 1px solid white;
        position: relative;
    }
    .circle {
        width: 6px;
        height: 6px;
        background-color: white;
        position: absolute;
        border-radius: 50%;
        right: -6px;
        top: -3px;
    }
    .mar-top-bot {
        margin-top: 20px;
        margin-bottom: 12px; // margin-left: 150px;
        margin-left: 73px;
    }
    .client-say {
        // padding: 0 20px;
        padding: 18px 20px 0px 20px;
    }
}

.bg-blue {
    background-color: $brand-brown;
    padding: 20px 0;
    h5 {
        font-size: 20px;
    }
    h4 {
        font-size: 23px;
        margin-top: 0;
    }
    h1 {
        color: white;
    }
    li {
        background-color: $brand-brown;
    }
    ul {
        background-color: $brand-brown;
    }
    p {
        font-size: 14px;
        padding: 10px 1px;
        margin-bottom: 0;
    }
    h3 {
        color: white;
        font-size: 20px;
        margin-top: 0;
    }
    h1 {
        margin-top: 30px;
    }
    .fs-18 {
        font-family: gothambook;
        font-size: 18px;
        padding-left: 20px;
    }
    .flex-control-paging li a {
        display: none;
    }
    .flex-control-paging li a.flex-active {
        display: none;
    }
    .flex-direction-nav {
        .flex-nav-prev {
            a:before {
                content: "";
                display: inline-block;
                background-image: url("../img/homepage/44.png");
                background-repeat: no-repeat;
                color: rgba(0, 0, 0, 0.8);
                width: 150px;
                height: 150px;
                opacity: 1;
            }
        }
        .flex-nav-next:hover {
            display: none;
        }
        a {
            top: 9%;
            width: 70px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
        }
    }
    .flexslider .flex-direction-nav .flex-prev {
        left: -115px !important;
    }
    .border {
        width: 79%;
        border-bottom: 1px solid white;
        position: relative;
    }
    .circle {
        width: 6px;
        height: 6px;
        background-color: white;
        position: absolute;
        border-radius: 50%;
        right: -6px;
        top: -3px;
    }
    .mar-top-bot {
        margin-top: 20px;
        margin-bottom: 12px;
        margin-left: 150px;
    }
    .client-say {
        padding: 0 20px;
    }
}

.icon-slider {
    .relative {
        position: relative;
        .flex-control-nav {
            // bottom: -53px !important;
            // bottom: 5px!important;
            z-index: 2;
        }
        .flex-direction-nav {
            .flex-nav-prev {
                display: none;
            }
            .flex-nav-next {
                display: none;
            }
        }
    }
    .overlay {
        background-color: rgba(229, 219, 57, 0.7);
        @include position(absolute,
        0 0 0 0);
    }
    .icon-padd {
        padding: 20px;
    }
    .mar-lt {
        margin: 32px 69px 32px 20px;
    }
    .mar-b {
        margin-bottom: 30px;
    }
}

.paddb15 {
    padding-bottom: 15px;
}

.mar-t20 {
    margin: 60px 50px 50px 0px !important;
}

.showcase {
    .flexslider {
        .flex-control-nav {
            display: none;
        }
        .slides img {
            margin: 0px 30px 0px 0px !important;
        }
        .flex-direction-nav .flex-prev {
            display: none;
        }
        .flex-direction-nav .flex-next:hover {
            display: none;
        }
    }
}

.display-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.slide1-text {
    position: absolute;
    top: 33%;
    left: 16%;
    h2 {
        margin: 0;
        font-size: 38px;
    }
    h3 {
        margin: 0;
        font-size: 26px;
        line-height: 50px;
    }
    .color-brown {
        color: #683818;
        font-family: 'gothambook';
    }
    .color-white {
        color: white;
        line-height: 50px;
    }
} // home page end
// approach page start
.approach {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 60px;
        line-height: 0.8;
    }
    h3 {
        font-size: 30px;
        font-family: 'gothambook';
    }
    h4 {
        font-size: 28px;
    }
} // .top50 {
//     top: 25%;
//     left: 15%;
// }
.awesome {
    margin: 30px 0px;
}

.human {
    // margin-top: 90px;
    img {
        width: 100%;
        position: relative;
    }
    span {
        font-family: 'gothamMedium';
    }
    h3 {
        margin-top: 20%;
        font-family: 'gothambook';
        color: white;
    }
    .human-bg {
        background-image: url('../img/approach/1.jpg');
        height: 728px;
        width: 100%;
        background-position: center center;
        background-size: cover;
    }
    .mar-t21 {
        margin-top: 21%;
    }
}

.brand-matter {
    h3 {
        color: gray;
    }
    span {
        font-family: 'gothamBold';
    }
    .bg-img {
        background-image: url("../img/approach/2.jpg");
        background-size: cover;
        height: 385px;
        width: 100%;
        background-repeat: no-repeat;
        h3 {
            font-size: 31px;
            color: white;
            font-family: 'gothambook';
            margin-top: 28%;
            line-height: 1.2;
        }
        .fnt-70 {
            font-size: 70px;
        }
        span {
            // font-size: 70px;
            // font-family: 'gothamBold';
            color: white;
        }
        .mar-t20 {
            margin-top: 20%;
        }
    }
    .overlay {
        //   background-color: #ff4321;
        background-color: rgba(255, 67, 33, 0.78);
        @include position(absolute,
        0 0 0 0);
    }
    .w50 {
        width: 69%;
        height: 100%;
    }
    img {
        width: 100%;
        height: 400px;
        margin-left: 30px;
    }
    .barnd-para {
        h4 {
            // padding: 11% 33% 11% 0;
            padding: 18% 0;
            color: gray;
        }
    }
    .brand-text {
        margin-top: 13%;
        h2 {
            color: gray;
            font-size: 48px;
        }
    }
} // .width-370 {
//     width: 370px;
//     margin: 0 auto;
// }
.brain {
    h5 {
        color: gray;
    }
    h3 {
        color: gray;
        font-family: 'gothamBold';
        font-size: 40px;
        margin: 0;
    }
    .top23 {
        margin-top: 23%;
    }
    h4 {
        //    padding: 24% 0;
        font-size: 27px;
        color: gray;
        padding-right: 20px;
    }
    h1 {
        color: gray;
    }
    .margin-tb {
        margin: 10% 0; // width: 90%;
        // padding-left: 11%;
    }
    .design-text {
        h1 {
            color: white;
        }
        img {
            width: 100%;
        }
        .padd-t6 {
            padding: 6% 0;
        }
        span {
            font-family: 'gothamBold';
        }
        h2 {
            font-size: 40px;
        }
    }
}

.bold-font {
    font-family: 'gothamBold';
}

.design {
    h1 {
        font-family: 'gothamBold';
    }
    .white-sec {
        // margin: 5% 0;
        margin: 6% 0px 4%;
        h1 {
            font-size: 70px;
            color: $brand-pink;
        }
    }
    .display-flex {
        display: inline-block;
        width: 30%;
        img {
            width: 100%;
        }
    }
    .bg-color-darkpink {
        background-color: #e46fbf;
    } // .grad {
    //     height: 420px;
    //     background: red;
    //     /* For browsers that do not support gradients */
    //     background: -webkit-linear-gradient(left, #fb6d75, #e4a96f);
    //     /* For Safari 5.1 to 6.0 */
    //     background: -o-linear-gradient(right, #fb6d75, #e4a96f);
    //     /* For Opera 11.1 to 12.0 */
    //     background: -moz-linear-gradient(right, #fb6d75, #e4a96f);
    //     /* For Firefox 3.6 to 15 */
    //     background: linear-gradient(to right, #fb6d75, #e4a96f); // box-shadow: 10px 10px 5px #e56f86;
    //     /* Standard syntax (must be last) */
    // }
    // .grad2 {
    //     height: 420px;
    //     background: red;
    //     /* For browsers that do not support gradients */
    //     background: -webkit-linear-gradient(left, #e56f86, #f19871);
    //     /* For Safari 5.1 to 6.0 */
    //     background: -o-linear-gradient(right, #e56f86, #f19871);
    //     /* For Opera 11.1 to 12.0 */
    //     background: -moz-linear-gradient(right, #e56f86, #f19871);
    //     /* For Firefox 3.6 to 15 */
    //     background: linear-gradient(to right, #e56f86, #f19871);
    //     /* Standard syntax (must be last) */
    //     box-shadow: 10px 1px 21px #b1566c inset;
    // }
    // .grad3 {
    //     height: 420px;
    //     background: red;
    //     /* For browsers that do not support gradients */
    //     background: -webkit-linear-gradient(left, #e56f86, #fe7347);
    //     /* For Safari 5.1 to 6.0 */
    //     background: -o-linear-gradient(right, #e56f86, #fe7347);
    //     /* For Opera 11.1 to 12.0 */
    //     background: -moz-linear-gradient(right, #e56f86, #fe7347);
    //     /* For Firefox 3.6 to 15 */
    //     background: linear-gradient(to right, #e56f86, #fe7347);
    //     /* Standard syntax (must be last) */
    //     box-shadow: 10px 1px 21px #b1566c inset;
    // }
    .text-size {
        .padding {
            // padding: 30px 70px 30px 70px;
            padding: 30px 0px 30px 3px;
        }
        h2 {
            margin-top: 24px;
            color: white;
            font-size: 40px;
            font-family: 'gothamBold';
            padding-bottom: 15px;
        }
        h3 {
            color: white;
            font-family: 'gothamMedium';
            padding: 5px 0px;
            font-size: 24px;
            margin: 10px 0;
        }
        p {
            color: white;
            font-size: 18px;
            font-weight: 700;
        }
        .padd-l10 {
            padding-left: 10px;
        }
        .padd-l20 {
            padding-left: 20px;
        }
        .padd-l30 {
            padding-left: 30px;
        }
    }
}

.border-right-white {
    border-right: 1px solid white;
    margin-right: 15px;
    height: 285px;
} //ruchira//
//about us//
.about {
    .pink-p {
        margin: 50px 43px 50px 0;
        font-family: gothambook;
        font-size: 18px;
        padding-left: 20px;
        text-align: justify;
        font-size: 15px;
        span {
            font-size: 15px;
            font-weight: 700;
        }
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
    p {
        font-size: 15px;
    }
    h4,
    h6 {
        color: #333;
    }
    .employee-designation {
        h6 {
            color: #fff;
        }
    }
}

@mixin display($display) {
    -webkit-display: $display;
    -moz-display: $display;
    -ms-display: $display;
    display: $display;
}

.row-flex {
    @include display(flex);
    width: 100%;
}

.col-flex {
    @include flex(1);
    @include display(block);
    width: 50%;
}

.rows-flex {
    @include display(flex);
    width: 100%;
}

.cols-flex {
    @include flex(1);
    display: inline-block;
    width: 23%;
    vertical-align: top;
}

.border-right {
    border-right: 2px solid #ccc;
}

.mar-t35 {
    margin-top: 35px;
}

.team-details {
    h3 {
        @include padding(50px null);
    }
}

.team-full {
    p {
        font-size: 30px;
    }
    h4 {
        margin-bottom: 5px;
    }
}

.trust,
.team-full {
    p {
        color: #7b7b7b;
    }
}

.trust,
.team-details {
    h3 {
        color: #e50d58;
    }
}

.main-person {
    margin-bottom: 40px;
}

.employee-name {
    h4 {
        //   font-family: 'gothamMedium';
        font-weight: 600;
    }
}

.employee-detail {
    background: #e60774;
    background: linear-gradient(-90deg, #e31141, #e60774);
    @include padding(15px 50px);
    min-height: 620px;
    position: relative;
    &:after {
        content: "";
        border-bottom: 20px solid #e3123e;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        @include position(absolute,
        30px -30px null null);
        z-index: 999;
        transform: rotate(90deg);
    }
    p {
        margin: 14px 0;
    }
    h6 {
        color: #fff;
    }
}

.second-person {
    .employee-detail {
        &:after {
            @include position(absolute,
            30px inherit null -30px);
            transform: rotate(-90deg);
            border-bottom: 20px solid #e60774;
        }
    }
}

.imran {
    .employee-detail {
        &:after {
            position: absolute;
            top: -20px;
            right: inherit;
            left: 40px;
            transform: rotate(0deg);
            border-bottom: 20px solid #e31141;
        }
    }
}

.imran-detail {
    background: linear-gradient(-90deg, #e60774, #e31141);
    min-height: 450px;
}

.bgrey {
    background-color: $brand-grey;
    padding: 50px 0 60px;
}

.clients {
    background: url("../img/10.png") no-repeat top center;
}

.team-full {
    li {
        padding: 0 0 30px 0;
    }
}

// .imgs,
// .clients {
//     @include size(280px,
//     280px); 
//     background-size: cover !important;
//     margin: 0 auto;
// }
.imgs,
.clients {
    @include size(280px,
    280px);
    background-size: cover !important; // margin: 0 auto;
}

.marin-l78 {
    margin-left: 78px;
}

.marin-l35 {
    margin-left: 35px;
}

.nitin-mar {
    margin: 5px 80px 40px 0px;
}

.siddarth-mar {
    margin: 5px 0px 40px 0px;
}

.shardha-mar {
    margin: 5px 0px 0px 78px;
}

.img1 {
    background-image: url("../img/about/new1.jpg");
}

.img2 {
    background-image: url("../img/about/new2.jpg");
}

.img3 {
    background-image: url("../img/about/new3.jpg");
}

.img4 {
    background-image: url("../img/about/new4.jpg");
}

.img5 {
    background-image: url("../img/about/new5.jpg");
}

.img6 {
    background-image: url("../img/about/new6.jpg");
}

.img7 {
    background-image: url("../img/about/abhishek.jpg");
}

.img8 {
    background-image: url("../img/about/sandhya.jpg");
}

.employee-names {
    // @include display(none);
    @include position(absolute,
    50% null null 50%);
    @include transform(translate(-50%,
    -50%));
    z-index: 999;
    width: 80%;
    h4 {
        color: #fff;
    }
}

.imgs {
    position: relative;
    overflow: hidden;
    .overlaying {
        background-color: rgba(230, 7, 116, 0.71);
        background: linear-gradient(-90deg, rgba(227, 17, 65, 0.75), rgba(230, 7, 116, 0.65));
        @include position(absolute,
        0 0 0 0);
        @include transition(all ease 500ms);
        @include transform(translateY(95%));
        &:after {
            content: "";
            border-bottom: 20px solid rgba(230, 7, 116, 0.71);
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            @include position(absolute,
            -20px null null 10px);
        }
    }
    &:hover {
        .overlaying {
            @include transform(translateY(0%));
        }
    }
}

.clients {
    @include size(180px,
    100px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-size: contain;
    background-image: none !important;
    img {
        margin: 0 auto; // opacity: 0.5;
        filter: grayscale(100%);
        &:hover {
            // opacity: 1;
            filter: grayscale(0%);
        }
    }
} // .client5 {
//     background-image: url("../img/about/sign.png");
// }
// .client6 {
//     background-image: url("../img/about/kansai.png");
// }
// .client7 {
//     background-image: url("../img/about/dabur.png");
// }
// .client8 {
//     background-image: url("../img/about/goma.png");
// }
// .client9 {
//     background-image: url("../img/about/mega.png");
// }
// .client10 {
//     background-image: url("../img/about/upl.png");
// }
// .client11 {
//     background-image: url("../img/about/hersheys.png");
// }
// .client12 {
//     background-image: url("../img/about/ss.png");
// }
// .client13 {
//     background-image: url("../img/about/vlcc.png");
// }
// .client14 {
//     background-image: url("../img/about/mapro.png");
// }
// .client15 {
//     background-image: url("../img/about/nabil.png");
// }
// .client16 {
//     background-image: url("../img/about/sarda.png");
// }
// .client17 {
//     background-image: url("../img/about/seths.png");
// }
// .client18 {
//     background-image: url("../img/about/lotus.png");
// }
.row1 {
    margin-top: 50px;
    .row {
        .col-md-2:nth-of-type(6) {
            .clients {
                border: none !important;
            }
        }
    }
}

.figures {
    // background: url("../img/about/cheif.jpg") no-repeat center;
    // background-size: cover !important;
    // img {
    //     // min-height: 600px;
    //     @include transition(all ease 300ms);
    //     @include filter(grayscale(100%));
    // }
    // img:hover {
    //     @include filter(grayscale(0));
    // }
} // .fig1 {
//     background: url("../img/about/director.jpg") no-repeat center;
// }
.clientele {
    position: relative;
    @include transition(all ease 600ms);
    cursor: pointer;
    .overlays {
        background-color: rgba(228, 228, 228, 0.54);
        @include position(absolute,
        0 0 0 0);
    }
    &:hover {
        .overlays {
            background-color: rgba(228, 228, 228, 0);
            @include position(absolute,
            0 0 0 0);
        }
    }
}

.advisor {
    padding: 10px 50px;
} //about us//
//offering//
.offers {
    .top-bot {
        width: 30%;
        @include position(absolute,
        25% 20% null null);
        p {
            font-size: 18px;
            padding-top: 60px;
        }
    }
    p {
        padding: 0px 18px 0 0;
        font-size: 18px;
        letter-spacing: 1px;
        text-align: justify;
    }
}

.offerings {
    p,
    li {
        color: #646464;
    }
    p {
        @include padding(25px null);
        font-size: 18px;
        letter-spacing: 1px;
        margin: 0;
    }
    .offering-text {
        h3 {
            color: $brand-success;
        }
        ul {
            @include padding(0px);
            margin-bottom: 20px;
            li {
                font-size: 18px;
                letter-spacing: 2px;
                list-style-type: none;
                &:before {
                    content: "\f178";
                    color: #6ce202;
                    font-family: "FontAwesome";
                }
            }
        }
    }
    .rows1 {
        .offering-text {
            padding: 20px 50px 0 0;
        }
    }
    .rows2 {
        .offering-text {
            padding: 20px 0px 0 50px;
        }
    }
    .butn-green {
        // padding: 10px 0;
        .btn {
            background-color: $brand-success;
            border-radius: 20px;
            padding: 10px 20px;
            border: none;
            font-size: 16px;
            &:focus {
                outline: 0;
            }
        }
    }
}

.offering-img {
    img {
        filter: grayscale(100%);
    }
    img:hover {
        filter: grayscale(0%);
    }
} //offering
//ruchira//
//portfolio start
.fancybox-title-float-wrap .child {
    /* top: 19%; */
    display: inline-block;
    margin-right: -100%;
    /* margin-top: 11%; */
    /* margin-top: 30px; */
    padding: 12px 12px;
    background: white;
    border-radius: 0px;
    text-shadow: none;
    color: #FFF;
    font-weight: normal;
    line-height: 14px;
    white-space: normal;
    font-size: 15px;
    color: black;
}

.fancybox-skin {
    padding: 0px !important;
}

.fancybox-title-float-wrap {
    margin-bottom: -29px;
    right: 50%;
}

.rowflex {
    display: flex;
}

.w-33 {
    width: 33.33%;
}

.biscuit {
    margin-top: 90px;
}

.port-imgs {
    position: relative; // overflow: hidden;
    .overlaying {
        @include position(absolute,
        0 0 0 0);
        @include transition(500ms ease); // @include transform(translateY(100%));
        // overflow: hidden;
        // width: 0;
        // height: 100%;
        opacity: 0;
        pointer-events: none;
    }
    &:hover {
        .overlaying {
            // @include transform(translateY(0%));
            width: 100%;
            opacity: 1;
        }
    }
}

.gradient-yellow {
    background: linear-gradient(90deg, rgba(226, 154, 44, 0.97), rgba(247, 242, 29, 0.8));
}

.gradient-red {
    background: linear-gradient(90deg, rgba(254, 40, 18, 0.75), rgba(254, 120, 20, 0.69));
}

.gradient-orange {
    background: linear-gradient(90deg, rgba(227, 116, 51, 0.94), rgba(251, 212, 30, 0.92));
}

.gradient-blue {
    background: linear-gradient(90deg, rgba(58, 210, 193, 0.89), rgba(39, 159, 252, 0.83));
}

.gradient-lightgreen {
    background: linear-gradient(90deg, rgba(136, 222, 55, 0.88), rgba(43, 239, 24, 0.9));
}

.gradient-green {
    background: linear-gradient(50deg, rgba(59, 225, 71, 0.8), #29f68f);
}

.gradient-pink {
    background: linear-gradient(90deg, rgba(225, 56, 69, 0.91), rgba(245, 99, 33, 0.84));
}

.gradient-darkpink {
    background: linear-gradient(90deg, rgba(222, 46, 49, 0.87), rgba(243, 100, 24, 0.89));
}

.gradient-purpal {
    background: linear-gradient(90deg, rgba(226, 60, 195, 0.88), rgba(246, 42, 123, 0.89));
}

.gradient-arcs {
    background: linear-gradient(90deg, rgba(198, 112, 12, 0.92), rgba(199, 181, 11, 0.91));
}

.gradient-parachute {
    background: linear-gradient(90deg, rgba(224, 168, 50, 0.92), rgba(228, 244, 32, 0.89));
}

.gradient-Psoracare {
    background: linear-gradient(90deg, rgba(52, 222, 113, 0.89), rgba(24, 237, 175, 0.89));
}

.gradient-doycare {
    background: linear-gradient(90deg, rgba(22, 137, 194, 0.88), rgba(23, 50, 198, 0.9));
}

.gradient-sg {
    background: linear-gradient(90deg, rgba(35, 152, 202, 0.88), rgba(40, 85, 224, 0.89));
}

.gradient-vachan {
    background: linear-gradient(90deg, rgba(129, 59, 227, 0.88), rgba(201, 42, 245, 0.88));
}

.gradient-milk {
    background: linear-gradient(90deg, rgba(199, 144, 25, 0.88), rgba(169, 202, 25, 0.9));
}

.gradient-medical {
    background: linear-gradient(90deg, rgba(57, 219, 128, 0.89), rgba(40, 244, 231, 0.9));
}

.gradient-mexitos {
    background: linear-gradient(90deg, rgba(202, 122, 57, 0.9), rgba(242, 194, 26, 0.92));
}

.gradient-vistas {
    background: linear-gradient(90deg, rgba(203, 36, 112, 0.92), rgba(245, 38, 51, 0.92));
}

.gradient-cafechino {
    background: linear-gradient(90deg, rgba(222, 79, 58, 0.91), rgba(238, 136, 29, 0.92));
}

.gradient-wafers {
    background: linear-gradient(90deg, rgba(54, 143, 227, 0.91), rgba(29, 67, 228, 0.89));
}

.overlay-text-bg {
    // background-color: rgba(254, 115, 73, 0.15);
    // background-color: white;
    left: 7%;
    h2 {
        // color: darkred;
        color: white;
        letter-spacing: 0px;
        line-height: 14px;
        font-family: 'corisande-b';
        text-decoration: underline; // font-size: 29px;
        // letter-spacing: 1px;
    }
}

.top35 {
    top: 35%;
}

.top45 {
    top: 45% !important;
}

.product-name-size {
    h5 {
        font-weight: 900; // font-size: 22px;
        font-family: 'corisande-b';
        font-size: 17px;
    }
    h6 {
        font-family: 'corisande-b';
    }
}

.product-name {
    top: 3%;
    left: 7%;
}

.product-name2 {
    top: 1%;
    left: 7%;
}

.read-more {
    left: 7%;
    bottom: 3%;
    a {
        color: transparent;
    }
}

.read-more2 {
    left: 7%;
    bottom: 1%;
}

.display-inline {
    display: inline-block;
}

// .modal-dialog {
//     width: 877px;
// }
// .bg-popup-img{
//     background-image: url("../img/portfolio/popup/daburr.jpg");
//      height: 608px;
// width: 875px;
// background-size: cover;
// background-repeat: no-repeat;
// background-position: center center;
// }
.modal-heading {
    font-size: 12px;
    color: $brand-darkbrown;
    font-weight: 600;
    margin-top: 0px;
    padding: 30px 0px 0px 45px;
}

.modal-first-para {
    p {
        font-size: 12px;
        color: green;
        padding: 0px 0px 0px 45px;
        font-weight: 600;
    }
    span {
        color: $brand-darkbrown;
        font-weight: bold;
        font-weight: 600;
    }
}

.modal-second-para p {
    font-size: 12px;
    color: gray;
    padding: 0px 0px 0px 45px;
    line-height: 14px;
}

.modal-heading:before {
    content: '';
    background-image: url("../img/portfolio/popup/nexticon.png");
    position: absolute;
    width: 20px;
    height: 64px;
    background-repeat: no-repeat; //  vertical-align: center;
    top: 20px;
    left: 37px;
}

.top0 {
    top: 0px;
}

.close-modal {
    position: absolute;
    top: 6px;
    right: 11px;
    cursor: pointer;
    .fa {
        font-size: 20px;
        color: black;
    }
}

//end portfolio
//header start
.header1-bg {
    background-color: red;
}

.header1 {
    .Approach {
        .navbar {
            background-color: white;
            border: none;
        }
    }
}

.Offering {
    .navbar {
        background-color: white;
    }
}

.header1 {
    .navbar {
        background-color: #e60774;
        border: none;
        @include linear-gradient(-90deg,
        #e31141,
        #e60774);
    }
    .navbar-nav {
        a {
            color: white !important;
            font-family: 'gothamMedium';
            font-size: 13px;
            span {
                line-height: 2;
            }
            &:hover {
                span {
                    border-bottom: 4px solid #fff;
                }
            }
        }
    }
    .border-bot {
        border-bottom: 5px solid white;
        margin-top: 6px;
        width: 80px;
        padding-left: -20px;
        margin-left: 13px;
    }
    .other-logo {
        display: block;
    }
    .home-logo {
        display: none;
    }
    &.Home {
        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:hover,
        .navbar-default .navbar-nav>.active>a:focus,
        .navbar-nav>a:hover,
        {
            span {
                border-bottom: 4px solid white;
            }
        }
        .other-logo {
            display: none;
        }
        .home-logo {
            display: block;
        }
        .navbar-nav {
            a {
                color: white !important;
                top: 18px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1px;
                &:hover {
                    span {
                        border-bottom: 4px solid white;
                    }
                }
            }
            span {
                padding-bottom: 5px;
            }
        }
        .navbar {
            border: none; // background: linear-gradient(-82deg,#83bf01,#83bf01,#9cd72f,  #abe448 );
            // background: -webkit-linear-gradient(-82deg, #83bf01 0%, #83bf01 0%, #83bf01 4%, #83bf01 35%, #83bf01 61%, #abe448 100%);
            @include linear-gradient(82deg,
            #83bf01 38%,
            #abe448 94%,
            #abe448 91%,
            #abe448 100%);
        }
    }
    &.Approach {
        .navbar {
            // background-color: #e46fbf;
            border: none;
            @include linear-gradient(50deg,
            #d76bfd,
            #fe7349);
        }
    }
    &.Offering {
        .navbar {
            // background-color: #e46fbf;
            border: none; // background: linear-gradient(50deg, rgba(181, 213, 51, 0.02) 70%, rgba(10, 157, 160, 0.06) 30%);
            @include linear-gradient(50deg,
            #b5d533,
            #0a9da0);
        }
    }
    &.Portfolio {
        .navbar {
            // background-color: #e46fbf;
            border: none;
            @include linear-gradient(50deg,
            #de5428,
            #ffcd0a);
        }
    }
    &.Doycare {
        .navbar {
            // background-color: #e46fbf;
            border: none;
            @include linear-gradient(50deg,
            #de5428,
            #ffcd0a);
        }
    }
    &.Good {
        .navbar {
            // background-color: #e46fbf;
            border: none;
            @include linear-gradient(50deg,
            #de5428,
            #ffcd0a);
        }
    }
    &.Arch {
        .navbar {
            // background-color: #e46fbf;
            border: none;
            @include linear-gradient(50deg,
            #de5428,
            #ffcd0a);
        }
    }
    &.Contact {
        .navbar {
            // background-color: #e46fbf;
            border: none;
            @include linear-gradient(82deg,
            #01a2bf 28%,
            #00ccbe 90%,
            #00ccbe 91%,
            #00ccbe 100%);
        }
    }
    &.Vachan {
        .navbar {
            background: white;
            border: none;
        }
        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:hover,
        .navbar-default .navbar-nav>.active>a:focus,
        .navbar-nav>a:hover,
        {
            span {
                border-bottom: 4px solid #83bf01;
            }
        }
        .other-logo {
            display: none;
        }
        .home-logo {
            display: block;
        }
        .navbar-nav {
            a {
                color: black !important;
                top: 18px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1px;
                &:hover {
                    span {
                        border-bottom: 4px solid #83bf01;
                    }
                }
            }
            span {
                padding-bottom: 5px;
            }
        }
    }
}

.header2 {
    .navbar {
        background-color: transparent;
        border: none;
    }
    .navbar-nav {
        a {
            color: white !important;
            font-family: 'gothamMedium';
            font-size: 13px;
        }
    }
} //ruchi//
.carousels {
    .flex-control-nav {
        z-index: 99;
    }
    .flex-viewport {
        max-height: 285px !important;
    }
}

.image-circles {
    img {
        margin: 0 auto;
    }
}

.talk,
.talks {
    text-decoration: none;
    a {
        &:hover {
            text-decoration: underline;
            color: darken(#fff, 15%);
        }
    }
}

.about-grad-color {
    background: #e60774;
    background: linear-gradient(-90deg, #e31141, #e60774);
}

.about-band {
    .about-band-title {
        margin: 75px 0;
        h4 {
            color: #fff;
            font-family: 'gothambook';
        }
    }
}

.capabilities-cont {
    padding: 25px 0;
    .capablities-list {
        min-height: 130px;
    }
}

.hidden {
    display: none;
}

.fancybox-title a {
    color: #fff;
}

.tooltiptext {
    visibility: hidden;
    width: 59px;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 2px 6px;
    z-index: 1;
    display: inline;
    position: absolute;
    margin-top: -25px;
    margin-left: -14px;
}

.top {
    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }
}

//.fancybox-nav.fancybox-next
.fancybox-nav.fancybox-next span {
    background-image: url("../img/portfolio/next.png");
}

.fancybox-nav.fancybox-prev span {
    background-image: url("../img/portfolio/prev.png");
}

@-webkit-keyframes autofill {
    to {
        color: #000;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

//contact pg start
.contact-bannner {
    background-image: url("../img/contact/2.jpg");
    width: 100%;
    height: 620px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contact-bg-blue {
    background: #057697;
}

.contact-us-text {
    margin: 30px 0px;
    .padd-t {
        padding-top: 10px;
    }
    a {
        color: #000;
        font-size: 11px;
        margin: 0;
    }
    p {
        color: #000;
        font-family: 'gothambook';
        margin: 0;
        font-size: 11px;
        font-weight: bols;
    }
    h4 {
        color: #000;
        font-family: 'gothamMedium';
        font-size: 16px;
    }
}

.contact-bannner-text {
    margin-top: 55%;
    margin-left: 1%;
    h2 {
        font-size: 50px;
        font-family: 'gothamMedium';
        margin: 0;
    }
    h3 {
        font-size: 29px;
        color: #fff;
        font-family: 'gothambook';
        margin: 0;
    }
}

.contact-bg-blue-text {
    margin: 25px 0px;
    p {
        font-family: 'gothamBold';
        font-size: 20px;
    }
}

.contact-us-border-bott {
    border-bottom: 1px solid rgba(128, 128, 128, 0.19);
    width: 255px;
    padding-bottom: 5px;
}

.contact-social-icon {
    .img-inline {
        display: inline-block;
        padding: 0px 30px 5px 0px;
        img {
            width: 65%
        }
    }
}

.contact-form {
    margin-top: 45px;
    p {
        color: black;
        font-size: 10px;
        color: gray;
    }
    input {
        background: rgba(211, 211, 211, 0.17);
    }
    textarea {
        background: rgba(211, 211, 211, 0.17);
    }
    label {
        color: $brand-gray;
        font-family: 'gothambook';
    }
    .btn-black {
        background: black;
        color: white;
        font-size: 10px;
        font-family: 'gothambook';
        padding: 8px 20px;
    }
}


.showcase {
    .swiper-slide{
        .overlayinggg{
  position: absolute;
      width: 100%;
    height: 45px;
    bottom: 0px;
    h4{
        font-size: 20px;

    }
    // visibility: hidden;
    // display: none;
    
        }
        // li:hover{
        //       .overlayinggg{
        //         //   visibility: visible;
        //         display: block;
        //       }
        // }
        .overlayinggg:after{
            content: "";
    // border-bottom: 14px solid #e3123e;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: -14px;
    left: 21px;
    z-index: 999;
    // -webkit-transform: rotate(90deg);
    transform: rotate(1deg);
    }
    &.mygreen {
        .overlayinggg:after{
              border-bottom: 14px solid blue;
        }
        .mycolors {
          
            background: #92cb3e;
        }
       
    }
    &.myblue {
          .overlayinggg:after{
              border-bottom: 14px solid rgba(26, 61, 112, 0.83);
        }
        .mycolors {
            
         background: rgba(26, 61, 112, 0.83);
        }
    }
    &.myred{
         .overlayinggg:after{
              border-bottom: 14px solid rgba(198, 35, 38, 0.8);
        }
         .mycolors {
            
   background: rgba(198, 35, 38, 0.8);
        }
    }
    }

}


