<footer class="">
    <div class="bg-black">
        <div class="container ">
           <div class="row">
                <!--<div class="col-sm-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div>-->
                <!--<div class="col-md-5 ">
                    <div class="contact">
                        <h2>Contact us</h2>
                        <div class="">
                            <p>Sumit Samarth Arcade,<br> Opp. Goregaon (W) Railway Station,<br> Goregaon (W). Mumbai 400062</p>
                            <hr>
                            <p>+91 99 2088 6699<br> 022-669 290 82</p>
                            <hr>
                            <div class="img-inline">
                                <img src="../img/homepage/23.png" alt="" class="circle-img img-responsive">
                            </div>
                            <div class="img-inline">
                                <img src="../img/homepage/21.png" alt="" class="circle-img2 img-responsive">
                            </div>
                            <div class="img-inline">
                                <img src="../img/homepage/20.png" alt="" class="circle-img3 img-responsive">
                            </div>
                        </div>
                        
                    </div>
                </div>-->
                <div class="col-md-3">
                    <h2>Get in touch</h2>
                    <form class="">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" name="email">
                        </div>
                        <div class="form-group ">
                            <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
                        </div>
                        <div class="form-group ">
                            <input type="text" class="form-control" id="subject" placeholder="Subject" name="email">
                        </div>
                        <div class="form-group ">
                            <input type="text" name="firstname" class="w100">
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary btn-blue">GET IN TOUCH</button>
            

                </div>
                <div class="col-md-2">
                    <div class="mt60">
                   
                    <ul>
                        <li> <h5>Home</h5></li>
                        <li><h5>About us</h5></li>
                        <li>About Procreate</li>
                        <li>Talent Team</li>
                        <li>Clients</li>
                    </ul>
                      
                    <ul>
                        <li><h5>Approach</h5></li>
                        <li><h5>Work</h5></li>
                        <li>Brand Creation/identity</li>
                        <li>Corporate identity</li>
                        <li>Visual Brand Architecture</li>
                        <li>Packaging</li>
                        <li>ATL/BTL</li>
                        <li> <h5>Blog</h5></li>
                    </ul>
                    </div>
                </div>
                <div class="col-md-3">
                   <div class="mt60">
                    <ul>
                        <li> <h5>Offering</h5></li>
                        <li>Naming</li>
                        <li>Brand Strategy</li>
                        <li>Brand Identity Design</li>
                        <li>Corporate Branding</li>
                        <li>Packaging</li>
                        <li>Retail Design/POS</li>
                        <li>Brand Management</li>
                        <li>Brand Communication</li>
                        <li>Brand Positioning</li>
                         <li>Brand Repositioning</li>
                          <li>Brand Architecture</li>
                           <li>Logo Design</li>
                            <li>Print Design</li>
                        

                    </ul>
                   </div>
                </div>

                <div class="col-md-4">
                    <h2>Contact us</h2>
                    <p>C-102, Sumit Samarth Arcade, <br>
Opp. Goregaon (W) Railway Station, <br>
Goregaon (W). Mumbai 400062.</p>
            <p>Talk to us :</p>
<h5>+91 99 2088 6699<h5>
<h5>+91 99 2088 6622<h5>
<h5>+91 22 6692 9082</h5>
<a >letstalk@procreatebranding.com</a>
<p>For career opportunities, please share your
CV and portfolio to career@procreatebranding.com
We request you not to call us; if your profile matches
our requirements, we shall get back to you.</p>

                        <div class="img-inline">
                               <a href="https://en-gb.facebook.com"> <img  src="../img/homepage/23.png" alt=""  class="circle-img img-responsive"></a>
                            </div>
                            <div class="img-inline">
                              <a href="https://mail.google.com">  <img src="../img/homepage/21.png" alt="" class="circle-img2 img-responsive"></a>
                            </div>
                            <div class="img-inline">
                                <img src="../img/homepage/20.png" alt="" class="circle-img3 img-responsive">
                            </div>

                </div>
               
            </div>
        </div>
    </div>
    <div class="bg-gray">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 text-center fs12">
                    <div class="mar15">
                    <p>copyright ©2016 <span> Procreate design</span>. All Rights Reserved.</p>
                    <p>All other trademarks are the property of their respective owners and are used with their permission.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>