<footer id="contact"  ng-controller="footerCtrl">
    <div class="display-not">
 <div class="container">
        <div class="mar-tb ">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class=" talk">
                        <div class="get-call">
                            <h5>GET ON A CALL</h5>
                        </div>
                        <div class="mob-number">
                                <a href="tel:+919920886699">+91 99 2088 6699</a>
                                 <a href="tel:+919920886622">+91 99 2088 6622</a> <a href="tel:+912266929082">+91 22 6692 9082</a>
                        </div>

                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class=" social-icon">
                        <div class="img-inline">
                            <a href="https://twitter.com/ProcreateDesign" target="_blank"> <img src="img/1.png" alt="" class="img-responsive"></a>
                     
                        </div>
                        <div class="img-inline">
                            <a href="https://www.facebook.com/pages/Procreate-Branding/105701439507736" target="_blank"> <img src="img/2.png" alt="" class="img-responsive"></a>
                        </div>
                        <div class="img-inline">
                            <a href="mailto:letstalk@procreatebranding.com" ><img src="img/3.png" alt="" class="img-responsive"></a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-us">
                        <div class="get-call">
                            <h5>CONTACT US</h5>
                        </div>
                        <div class="contact">
                            <p>C-102, Sumit Samarth Arcade, <br> Opp. Goregaon (W) Railway Station, <br> Goregaon (W). Mumbai
                                400062.
                            </p>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="pull-right marin">

                   
                        <div class="pull-right arrow-up  top class="w65"">

                    <span class="tooltiptext">Top</span>

                     <a  ng-click="gotoTop();" data-toggle="tooltip" title="Click to go to top" ><img src="img/4.png" alt="" class="img-responsive"></a>
                     </div>
               </div>
</div>
    <div class="bg-gray">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center fs12">
                    <div class="mar15">
                        <p>copyright ©2017 <span> Procreate design</span>. All Rights Reserved.<br> All other trademarks are
                            the property of their respective owners and are used with their permission.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>