<header hide-on-scrol>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
              <div class="col-md-6">
            <div class="navbar-header">
              
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand img-a" ui-sref="home"><img src="frontend/img/procreatelogo.png" class="w200" alt="logo"> </a>
            </div>
            </div>
             <div class="col-md-6">
            <div class="collapse navbar-collapse" id="nav-collapse">
                <!--<div ng-include="template.menu" class="template menu"></div>-->
               
                  <ul class="nav navbar-nav color-black">
        <li><a href="#" class="color-black">ABOUT US</a></li>
        <li><a href="#">WORK </a></li>
         <li><a href="#">APPROACH </a></li>
          <li><a href="#"> OFFERING</a></li>
          <li><a href="#"> CONTACT</a></li>
      </ul>
                </div>
            </div>
        


        </div>
    </nav>
</header>